{% extends 'base.html.twig' %}

{% block title %}Page d'accueil - Bienvenue sur Forma'Gestion{% endblock %}

{% block meta_description %}La page d'accueil de FORMA'GESTION, avec les liens pour se diriger vers les sections principales 'Créations', 'Suivis' et 'Paramètres'.{% endblock %}

{% block body %}

<div class="accueil-sous-cont">

    <h2 class="accueil-h2">Bienvenue sur FORMA'GESTION&nbsp;!</h2>
    
    <div class="accueil-boite1"> <!-- boite du haut : contient deux images -->

        <a href="{{ path('creations') }}" class="accueil-lien"><div class="accueil-card">
            <h1 class="accueil-h1">
                Créations
            </h1>
            <h3 class="accueil-h3">
                Concevez les parcours, planifiez les sessions,<br>
                gérez vos contacts
            </h3>
            <div class="accueil-img">
                <img src="/images/image_creations.svg" alt="une femme assise en lotus, en phase de méditation, entourée de feuilles volantes">
            </div>
        </div></a>
    
        <a href="{{ path('suivis') }}" class="accueil-lien"><div class="accueil-card">
            <h1 class="accueil-h1">
                Suivis
            </h1>
            <h3 class="accueil-h3">
                Effectuez les suivis administratifs<br>
                des apprenants et des sessions
            </h3>
            <div class="accueil-img">
                <img src="/images/image_suivis.svg" alt="une femme assise près du sol, qui réalise un graphique dans un document plus vaste">
            </div>
        </div></a>

    </div>
    

    <div class="accueil-boite1"> <!-- boite du bas : contient une image -->

        <a href="{{ path('parametres') }}" class="accueil-lien"><div class="accueil-card">
            <h1 class="accueil-h1">
                Paramètres
            </h1>
            <h3 class="accueil-h3">
                Paramétrez l'outil à votre convenance
            </h3>
            <div class="accueil-img">
                <img src="/images/image_parametres.svg" alt="une femme assise à un bureau, qui travaille sur un ordinateur portable">
            </div>
        </div></a>

    </div>

</div>

{% endblock %}
