{% extends 'base.html.twig' %}

{% block title %}Page d'accueil - Bienvenue sur Forma'Gestion{% endblock %}

{% block body %}

<div class="accueil-cont"></div>

    <h2 class="accueil-h2">Bienvenue sur FORMA'GESTION !</h2>
    
    <div class="accueil-boite1">

        <div class="accueil-card">
            <h1 class="accueil-h1">
                Créations
            </h1>
            <h3 class="accueil-h3">
                Concevez les parcours, planifiez les sessions,<br>
                gérez vos contacts
            </h3>
            <div class="accueil-img">
                <img src="/images/image_creations.svg" alt="une femme assise en lotus, en phase de méditation, entourée de feuilles volantes">
            </div>
        </div>
    
        <div class="accueil-card">
            <h1 class="accueil-h1">
                Suivis
            </h1>
            <h3 class="accueil-h3">
                Effectuez les suivis administratifs<br>
                des apprenants et des sessions
            </h3>
            <div class="accueil-img">
                <img src="/images/image_suivis.svg" alt="une femme assise près du sol, qui réalise un graphique dans un document plus vaste">
            </div>
        </div>

    </div>
    

    <div class="accueil-card">
        <h1 class="accueil-h1">
            Paramètres
        </h1>
        <h3 class="accueil-h3">
            Paramétrez l'outil à votre convenance
        </h3>
        <div class="accueil-img">
            <img src="/images/image_parametres.svg" alt="une femme assise à un bureau, qui travaille sur un ordinateur portable">
        </div>
    </div>

{% endblock %}
