{% extends 'base.html.twig' %}

{% block title %}Page pour tester les affichages{% endblock %}

{% block meta_description %}Cette page sert à effectuer des tests d'affichage pendant la phase de développement de l'outil.{% endblock %}

{% block body %}

<div class="sous-cont">

    
<h1>Page pour tester les affichages</h1>
<h2>Page pour tester les affichages</h2>
<h3>Page pour tester les affichages</h3>

    <div>
        <i>Nature de l'action concourant au développement des compétences :</i><br>
        <i class="fa-regular fa-square-check"></i>  action de formation<br>
        <i class="fa-regular fa-square"></i> bilan de compétences<br>
        <i class="fa-regular fa-square"></i> action de VAE<br>
        <i class="fa-regular fa-square"></i> action de formation par apprentissage
    </div>


    <div class="position-rose">
        <a class="btn btn-rose" href="{{ path('app_forgot_password_request') }}"><i class="fa-solid fa-right-from-bracket"></i>TEST</a> {# bouton pour tester les liens #}
    </div>

    <div class="position-rose">
        <a class="btn btn-rose" href="{{ path('app_check_email') }}"><i class="fa-solid fa-right-from-bracket"></i>TEST</a> {# bouton pour tester les liens #}
    </div>

    <div class="position-rose">
        <a class="btn btn-rose" href="{{ path('app_reset_password') }}"><i class="fa-solid fa-right-from-bracket"></i>TEST</a> {# bouton pour tester les liens #}
    </div>

</div>


{% endblock %}

