{% extends 'base.html.twig' %}

{% block title %}Page pour tester les affichages{% endblock %}

{% block body %}

    
<h1>Page pour tester les affichages</h1>
<h2>Page pour tester les affichages</h2>
<h3>Page pour tester les affichages</h3>

    <div>
        <i>Nature de l'action concourant au développement des compétences :</i><br>
        <i class="fa-regular fa-square-check"></i>  action de formation<br>
        <i class="fa-regular fa-square"></i> bilan de compétences<br>
        <i class="fa-regular fa-square"></i> action de VAE<br>
        <i class="fa-regular fa-square"></i> action de formation par apprentissage
    </div>


{% endblock %}
