{% extends 'base02.html.twig' %}

{% block title %}Conditions générales de vente{% endblock %}

{% block body %}

<div class="accueil-sous-cont">

    <h1>Conditions générales de vente</h1>
    <h3>Document qui informe le client sur les conditions de vente des prestations</h3>

    <div class="sous-cont">

        <h4>Désignation</h4>

        <div>
            La société FORMA'TOQUE désigne un organisme de formation professionnelle, dont le siège social est situé au 3, rue des Vosges 67800 Hœnheim.<br>
            FORMA'TOQUE met en place et dispense des formations inter et intra entreprises, à Strasbourg et sur l'ensemble du territoire national, seule ou en partenariat.
        </div>

        <div>
            Dans les paragraphes qui suivent, il est convenu de désigner par :<br>
            <ul>
                <li>
                    client : toute personne physique ou morale qui s'inscrit ou passe commande d'une formation auprès de la société FORMA'TOQUE.
                </li>
                <li>
                    stagiaire : la personne physique qui participe à une formation.
                </li>
                <li>
                    CGV : les conditions générales de vente, détaillées ci-dessous.
                </li>
                <li>
                    OPCO : les opérateurs de compétence agréés chargés de collecter et gérer l'effort de formation des entreprises.
                </li>
            </ul>
        </div>

        <h4>Objet et champ d'application</h4>

        <div>
            Les présentes Conditions Générales de Vente déterminent les conditions applicables aux prestations de formation effectuées par la société FORMA'TOQUE pour le compte d'un client. Toute commande de formation auprès de la société implique l'acceptation sans réserve du client des présentes Conditions Générales de Vente. Ces conditions prévalent sur tout autre document du client, en particulier sur toutes conditions générales d'achat.
        </div>

        <h4>Devis et attestation</h4>

        <div>
            Pour chaque formation, la société FORMA'TOQUE s'engage à fournir un devis au client. Ce dernier est tenu de retourner à la société un exemplaire renseigné, daté, signé et tamponné, avec la mention « Bon pour accord ».<br>
            Le cas échéant, une convention particulière peut être établie entre la société FORMA'TOQUE, l'OPCO ou le client.<br>
            À la demande du client, une attestation de présence ou de fin de formation, ainsi que des feuilles d'émargement peuvent lui être fournies.
        </div>

        <h4>Prix et modalités de paiement</h4>

        <div>
            Les prix des formations sont indiqués en euros hors taxes et ils sont à majorer de la TVA au taux en vigueur. Le paiement est à effectuer après exécution de la prestation, à réception de la facture, au comptant. Le règlement des factures peut être effectué par virement bancaire ou par chèque. Dans des situations exceptionnelles, il peut être procédé à un paiement échelonné. En tout état de cause, ses modalités devront avoir été formalisées avant le démarrage de la formation.
        </div>

        <h4>Prise en charge</h4>

        <div>
            Si le client bénéficie d'un financement par un OPCO, il doit faire une  demande de prise en charge avant le début de la prestation. Le client est tenu de fournir l'accord de financement lors de l'inscription. Dans le cas où la société FORMA'TOQUE ne reçoit pas la prise en charge de l'OPCO au 1er jour de la formation, l'intégralité des coûts de formation sera facturée au client.
        </div>

        <h4>Conditions de report et d'annulation d'une séance de formation</h4>

        <div>
            L'annulation d'une séance de formation est possible, à condition de le faire au moins 10 jours calendaires avant le jour et l'heure du début de la formation. Toute annulation doit faire l'objet d'une notification par e-mail à l'adresse varol.diet@gmail.com. En cas d'annulation entre 4 et 10 jours ouvrables avant la date de la formation, le client est tenu de payer une pénalité d'annulation, à hauteur de 20% du coût total initial de la formation. En cas d'annulation moins de 3 jours ouvrables avant le début de la formation, une pénalité d'annulation correspondant à 50% du coût total initial sera facturée au client.<br>
            La demande de report de sa participation à une formation peut être effectuée par le client, à  condition d'adresser une demande écrite à l'organisme de formation dans un délai de 10 jours avant la date de la formation.<br>
            En cas d'inexécution de ses obligations suite à un événement fortuit ou à un cas de force majeur, la société FORMA'TOQUE ne pourra être tenue responsable à l'égard de ses clients. Ces derniers seront informés par mail.
        </div>

        <h4>Programme des formations</h4>

        <div>
            S'il le juge nécessaire, l'intervenant pourra modifier les contenus des formations suivant l'actualité, la dynamique de groupe ou le niveau des participants. Les contenus des programmes figurant sur les fiches de présentation ne sont ainsi fournis qu'à titre indicatif.
        </div>

        <h4>Propriété intellectuelle et droit d'auteur</h4>

        <div>
            Les supports de formation, quelle qu'en soit la forme (papier, numérique, électronique…), sont protégés par la propriété intellectuelle et le droit d'auteur. Leur reproduction, partielle ou totale, ne peut être effectuée sans l'accord exprès de la société FORMA'TOQUE. Le client s'engage à ne pas utiliser, transmettre ou reproduire tout ou partie de ces documents en vue de l'organisation ou de l'animation de formations.
        </div>

        <h4>Informatique et libertés</h4>

        <div>
            Les informations à caractère personnel communiquées par le client à la société FORMA'TOQUE sont utiles pour le traitement de l'inscription ainsi que pour la constitution d'un fichier clientèle pour des prospections commerciales. Suivant la loi « informatique et libertés » du 6 janvier 1978, le client dispose d'un droit d'accès, de rectification et d'opposition des données personnelles le concernant.
        </div>

        <div>
            La société FORMA'TOQUE s'engage à appliquer les mesures administratives, physiques et techniques appropriées pour préserver la sécurité, la confidentialité et l'intégrité des données du client. Elle s'interdit de divulguer les données du client, sauf en cas de contrainte légale.<br>
            Loi applicable et attribution de compétence<br>
            Les présentes Conditions Générales de Vente sont encadrées par la loi française. En cas de litige survenant entre la société FORMA'TOQUE et le client, la recherche d'une solution à l'amiable sera privilégiée. À défaut, l'affaire sera portée devant le Tribunal judiciaire de Strasbourg.
        </div>
    </div>

</div>

{% endblock %}
    