{% extends 'base.html.twig' %}

{% block title %}"Indisponible" ou "En construction"{% endblock %}

{% block meta_description %}Cette page affiche un message d'indisponibilité lorsque l'utilisateur a voulu se rendre sur une page non fonctionnelle.{% endblock %}

{% block body %}

<div class="accueil-sous-cont">

    <h1>Page indisponible</h1>
    <h3>Cette page n'est actuellement pas disponible sur l'outil de gestion</h3>

    <div class="sous-cont">

        <h4>
            Fonctionnalité en construction
        </h4>
        <p>
            Certaines fonctionnalités de l'outil de gestion sont en cours de développement et appraitront bientôt pour vous offrir la meilleure expérience possible.<br>
            Soyez patients ! 
        </p>

    </div>

</div>

{% endblock %}
