{% extends 'base.html.twig' %}

{% block title %}"Indisponible" ou "En construction"{% endblock %}

{% block body %}

    <h1>Page indisponible</h1>
    <h3>Cette page n'est actuellement pas disponible sur l'outil de gestion</h3>

    <div class="sous-cont">
        <h4>
            Fonctionnalité en construction
        </h4>
        <p>
            Certaines fonctionnalités de l'outil de gestion sont en cours de développement et appraitront bientôt pour vous offrir la meilleure expérience possible.<br>
            Soyez patients ! 
        </p>
    </div>

{% endblock %}
