{% extends 'base.html.twig' %}

{% block title %}Créations{% endblock %}

{% block body %}

    <h1>Créations</h1>
    <h3>Créez les contenus pédagogiques, les sessions et gérez les contacts</h3>



    <div>
        <h2>Contenus pédagogiques</h2>

        <div>
            <h4>
                Modules d'enseignement
            </h4>
            <p>
                Créer ou éditer les modules d'enseignement
            </p>
        </div>

        <div>
            <h4>
                Programmes de formation
            </h4>
            <p>
                Créer ou éditer les programmes de formation
            </p>
        </div>

        <div>
            <h4>
                Formations
            </h4>
            <p>
                Créer ou éditer les formations
            </p>
        </div>

        <div>
            <h4>
                Sessions de formation
            </h4>
            <p>
                Créer ou éditer les sessions de formation
            </p>
        </div>
    </div>


    <div>
        <h2>Annuaire</h2>

        <div>
            <h4>
                Liste des apprenants
            </h4>
            <p>
                Consulter et gérer la liste des apprenants
            </p>
        </div>

        <div>
            <h4>
                Liste des formateurs
            </h4>
            <p>
                Consulter et gérer la liste des formateurs
            </p>
        </div>

        <div>
            <h4>
                Liste des responsables
            </h4>
            <p>
                Consulter et gérer la liste des responsables
            </p>
        </div>

        <div>
            <h4>
                Liste des sociétés
            </h4>
            <p>
                Consulter et gérer la liste des sociétés
            </p>
        </div>
    </div>

{% endblock %}
