{% extends 'base.html.twig' %}

{% block title %}Liste des modèles de documents{% endblock %}

{% block body %}

    <h1>Liste des modèles de documents</h1>
    <h3>Cette liste contient 12 modèles de documents administratifs à fournir à divers intervenants</h3>

        <table>
            <thead>
                <tr>
                    <th>
                        Nom
                    </th>
                    <th>
                        Destinataire
                    </th>
                    <th>
                        Mode d'envoi
                    </th>
                    <th>
                        Activé
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="">Programme</a>
                    </td>
                    <td>
                        Apprenant, responsables
                    </td>
                    <td>
                        Manuel
                    </td>
                    <td>
                        Oui
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="">Contrat formateur</a>
                    </td>
                    <td>
                        Formateur
                    </td>
                    <td>
                        Manuel
                    </td>
                    <td>
                        Oui
                    </td>   
                </tr>
                <tr>
                    <td>
                        <a href="">Convocation</a>
                    </td>
                    <td>
                        Apprenant, responsables
                    </td>
                    <td>
                        Manuel
                    </td>
                    <td>
                        Oui
                    </td>   
                </tr>
                <tr>
                    <td>
                        <a href="">Convention</a>
                    </td>
                    <td>
                        Société
                    </td>
                    <td>
                        Manuel
                    </td>
                    <td>
                        Oui
                    </td>   
                </tr>
                <tr>
                    <td>
                        <a href="">Feuille d'émargement</a>
                    </td>
                    <td>
                        Société
                    </td>
                    <td>
                        Manuel
                    </td>
                    <td>
                        Oui
                    </td>   
                </tr>
                <tr>
                    <td>
                        <a href="">Attestation de fin de formation</a>
                    </td>
                    <td>
                        Apprenant
                    </td>
                    <td>
                        Manuel
                    </td>
                    <td>
                        Oui
                    </td>   
                </tr>
                <tr>
                    <td>
                        <a href="">Attestation de présence</a>
                    </td>
                    <td>
                        Apprenant
                    </td>
                    <td>
                        Manuel
                    </td>
                    <td>
                        Oui
                    </td>   
                </tr>
                <tr>
                    <td>
                        <a href="">Relevé de connexion</a>
                    </td>
                    <td>
                        Apprenant
                    </td>
                    <td>
                        Manuel
                    </td>
                    <td>
                        Oui
                    </td>   
                </tr>
                <tr>
                    <td>
                        <a href="">Relevé d'évaluation</a>
                    </td>
                    <td>
                        Apprenant
                    </td>
                    <td>
                        Manuel
                    </td>
                    <td>
                        Oui
                    </td>   
                </tr>
                <tr>
                    <td>
                        <a href="">Attestation d'assiduité</a>
                    </td>
                    <td>
                        Apprenant
                    </td>
                    <td>
                        Manuel
                    </td>
                    <td>
                        Oui
                    </td>   
                </tr>
                <tr>
                    <td>
                        <a href="">Certificat de réalisation</a>
                    </td>
                    <td>
                        Apprenant
                    </td>
                    <td>
                        Manuel
                    </td>
                    <td>
                        Oui
                    </td>   
                </tr>
                <tr>
                    <td>
                        <a href="">Contrat client particulier</a>
                    </td>
                    <td>
                        Apprenant
                    </td>
                    <td>
                        Manuel
                    </td>
                    <td>
                        Oui
                    </td>   
                </tr>
            </tbody>
        </table> 

{% endblock %}
