{% extends 'base.html.twig' %}

{% block title %}Paramètres{% endblock %}

{% block body %}

    <h1>Paramètres</h1>
    <h3>Adaptez l'outil à vos besoins</h3>

    <div>
        <h4>
            Comptes utilisateurs
        </h4>
        <p>
            Gérer les comptes utilisateurs
        </p>
    </div>

    <div>
        <h4>
            Modèles de documents
        </h4>
        <p>
            Modifier les modèles de documents
        </p>
    </div>

    <div>
        <h4>
            Infos sur la société
        </h4>
        <p>
            Renseigner les informations administratives de la société
        </p>
    </div>

    <div>
        <h4>
            Infos sur le représentant légal
        </h4>
        <p>
            Renseigner les informations du représentant légal
        </p>
    </div>

    <div>
        <h4>
            Lieux de formation
        </h4>
        <p>
            Gérer les lieux de formation
        </p>
    </div>

    <div>
        <h4>
            Termes publiables
        </h4>
        <p>
            Configurer les CGU, les CGV et le Règlement Intérieur
        </p>
    </div>

{% endblock %}
