{% extends 'base02.html.twig' %}

{% block title %}Règlement intérieur{% endblock %}

{% block body %}

<div class="accueil-sous-cont">

    <h1>Règlement intérieur</h1>
    <h3>Applicable aux apprenants qui suivent une formation dans l'organisme</h3>

    <div class="sous-cont">
        
        <h4>Article 1</h4>

        <div>
            Le présent règlement est établi conformément aux dispositions des articles L.6352-3 et L.6352-4 et R.6352-1 à R.6352-15 du Code du travail. Il s'applique à tous les stagiaires, et ce pour la durée de la formation suivie.
        </div>

        <h4>Article 2 : Discipline</h4>

        <div>
            Il est formellement interdit aux stagiaires :<br>
            <ul>
                <li>
                    D'introduire des boissons alcoolisées dans les locaux de l'organisme.
                </li>
                <li>
                    De se présenter aux formations en état d'ébriété.
                </li>
                <li>
                    D'emporter ou modifier les supports de formation.
                </li>
                <li>
                    De modifier les réglages des paramètres de l'ordinateur.
                </li>
                <li>
                    De manger dans les salles de cours.
                </li>
                <li>
                    D'utiliser leurs téléphones portables durant les sessions à des fins autres que celles de la formation.
                </li>
            </ul>
        </div>

        <h4>Article 3 : Sanctions</h4>

        <div>
            Tout agissement considéré comme fautif par la direction de l'organisme de formation pourra, en fonction de sa nature et de sa gravité, faire l'objet de l'une ou l'autre des sanctions ci-après par ordre croissant d'importance :<br>
            <ul>
                <li>
                    Avertissement écrit par le Directeur de l'organisme de formation.
                </li>
                <li>
                    Blâme.
                </li>
                <li>
                    Exclusion définitive de la formation.
                </li>
            </ul>
        </div>

        <h4>Article 4 : Entretien préalable à une sanction et procédure</h4>

        <div>
            Aucune sanction ne peut être infligée au stagiaire sans que celui-ci ne soit  informé dans le même temps et par écrit des griefs retenus contre lui. Lorsque l'organisme de formation envisage une prise de sanction, il convoque le stagiaire par lettre recommandée avec accusé de réception ou remise à l'intéressé contre décharge en lui indiquant l'objet de la convocation, la date, l'heure et le lieu de l'entretien, sauf si la sanction envisagée n'a pas d'incidence sur la présence du stagiaire pour la suite de la formation. Au cours de l'entretien, le stagiaire a la possibilité de se faire assister par une personne de son choix, stagiaire ou salarié de l'organisme de formation.<br>
            La convocation  mentionnée à l'article précédent fait état de cette faculté. Lors de  l'entretien, le motif de la sanction envisagée est indiqué au stagiaire : celui-ci a alors la possibilité de donner toute explication ou justification des faits qui lui sont reprochés. Lorsqu'une mesure conservatoire d'exclusion temporaire à effet immédiat est considérée comme indispensable par l'organisme de formation, aucune sanction définitive relative à l'agissement fautif à l'origine de cette exclusion ne peut être prise sans que le stagiaire n'ait été au préalable informé des griefs retenus contre lui et, éventuellement, qu'il ait été convoqué à un entretien et ait eu la possibilité de s'expliquer devant une Commission de discipline.<br>
            La sanction ne peut intervenir moins d'un jour franc ni plus de 15 jours après l'entretien où, le cas échéant, après avis de la Commission de discipline. Elle fait l'objet d'une notification écrite et motivée au stagiaire sous forme lettre recommandée, ou d'une lettre remise contre décharge. L'organisme de formation informe concomitamment l'employeur, et éventuellement l'organisme paritaire prenant à sa charge les frais de formation, de la sanction prise.
        </div>

        <h4>Article 5 : Représentation des stagiaires</h4>

        <div>
            Lorsqu'un stage a une durée supérieure à 500 heures, il est procédé à l'élection d'un délégué titulaire et d'un délégué suppléant en scrutin uninominal à deux tours. Tous les stagiaires sont électeurs et éligibles, sauf les détenus admis à participer à une action de formation professionnelle. L'organisme de formation organise le scrutin qui a lieu pendant les heures de formation, au plus tôt 20 heures, au plus tard 40 heures après le début du stage. En cas d'impossibilité de désigner les représentants des stagiaires, l'organisme de formation dresse un PV de carence qu'il transmet au préfet de région territorialement compétent. Les délégués sont élus pour la durée de la formation. Leurs fonctions prennent fin lorsqu'ils cessent, pour quelque cause que ce soit de participer à la formation. Si le délégué titulaire et le délégué suppléant ont cessé leurs fonctions avant la fin de la session de formation, il est procédé à une nouvelle élection dans les conditions prévues aux articles R.6352-9 à R.6352-12. Les représentants des stagiaires font toute suggestion pour améliorer le déroulement des stages et les conditions de vie des stagiaires dans l'organisme de formation. Ils présentent toutes les réclamations individuelles ou collectives relatives à ces matières, aux conditions d'hygiène et de sécurité et à l'application du règlement intérieur.
        </div>

        <h4>Article 6 : Hygiène et sécurité</h4>

        <div>
            La prévention des risques d'accidents et de maladies est impérative et exige de chacun le respect total de toutes les prescriptions applicables en matière d'hygiène et de sécurité. A cet effet, les consignes générales et particulières de sécurité en vigueur dans l'organisme, lorsqu'elles existent, doivent être strictement respectées sous peine de sanctions disciplinaires. Lorsque la formation a lieu sur le site de l'entreprise, les consignes générales et particulières de sécurité applicables sont celles de l'entreprise.
        </div>

        <h4>Article 7</h4>

        <div>
            Un exemplaire du présent règlement est remis à chaque stagiaire (avant toute inscription définitive).
        </div>

    </div>
    
</div>

{% endblock %}
