{% extends 'base.html.twig' %}

{% block title %}Page de sommaire 'Suivis'{% endblock %}

{% block meta_description %}Le sommaire de la secion principale 'Suivis', avec les liens pour se diriger vers les parties secondaires de cette section.{% endblock %}

{% block body %}

<div class="accueil-sous-cont">

    <h1 class="h1-creations">Suivis</h1>
    <h3>Effectuez les suivis pédagogiques et administratifs des sessions</h3>

    <div class="sous-cont">

        <a href="{{ path('construction') }}" class="bandeau">
            <div class="csp-ecran">
                <h4>
                    Apprenants
                </h4>
                <p>
                    Suivre le parcours des apprenants
                </p>
            </div>
            <div class="csp-mobile">
                <h4>
                    Apprenants
                </h4>
            </div>
        </a>
    
        <a href="{{ path('suivi_app_session') }}" class="bandeau">
            <div class="csp-ecran">
                <h4>
                    Sessions
                </h4>
                <p>
                    Suivre la gestion administrative des sessions
                </p>
            </div>
            <div class="csp-mobile">
                <h4>
                    Sessions
                </h4>
            </div>
        </a>
        
        <a href="{{ path('construction') }}" class="bandeau">
            <div class="csp-ecran">
                <h4>
                    Questionnaires
                </h4>
                <p>
                    Evaluer le bon déroulement des sessions
                </p>
            </div>
            <div class="csp-mobile">
                <h4>
                    Questionnaires
                </h4>
            </div>
        </a>
        
        <a href="{{ path('construction') }}" class="bandeau">
            <div class="csp-ecran">
                <h4>
                    Agenda
                </h4>
                <p>
                    Gérer les plannings et structurer le temps
                </p>
            </div>
            <div class="csp-mobile">
                <h4>
                    Agenda
                </h4>
            </div>
        </a>

    </div>

</div>

{% endblock %}
