{% extends 'base02.html.twig' %}

{% block title %}Message lié à l'envoi d'un e-mail de réinitialisation du mot de passe envoyé{% endblock %}

{% block meta_description %}Cette page affiche le message envoyé à l'utilisateur lors d'une réinitialisation du mot de passe.{% endblock %}

{% block body %}

<div class="accueil-sous-cont">

    <h1 class="h1-sans-h3">Email envoyé !</h1>

    <div class="sous-cont">
        <p class="check-email">
            Si un compte correspondant à votre e-mail existe, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
            Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
    
        <p class="check-email">
            Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier 'spam' ou <a href="{{ path('app_forgot_password_request') }}">essayez à nouveau</a>.
        </p>
    </div>

</div>

{% endblock %}
