{# contenu de l'email reçu par l'utilisateur dans sa bal après sa demande de réinitialisation de son mot de passe #}

<h1 class="h1-sans-h3">Bonjour !</h1>

<p class="check-email">Pour réinitialiser votre mot de passe, veuillez visiter le lien suivant :</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}" class="check-clic">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p class="check-email">Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p class="check-email">Au revoir et à bientôt !</p>
