/*

PAGE LOGIN
PAGE LOGIN
PAGE LOGIN

*/


html, body {  /* avec ces lignes, le bandeau blanc latéral droite disparait */
    width: 100%;
    overflow-x: hidden; /* Empêche le défilement horizontal */
}
  
  
* { /* on calibre notre page => important au moins pour la navbar */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.super-wrap {
    display : flex;
    flex-direction: column;
    margin: 0;
    height: 100vh; /* Assure que le fond prend toute la hauteur de l'écran */
    width: 100vw;
    overflow-x: hidden; /* Empêche le défilement horizontal */
}
  

.login-wrap {
    display : flex;
    flex-direction: row;
    width: 100%;
    flex: 1; /* Utilise l'espace disponible */
}
  

#login-cont01, #login-cont02{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%; /* Changé de 50vw à 50% => plus souple */
}
 

#login-cont01{
    background-color:#ffffff;  /* fcf2f5 */
}


#login-cont02{
    background-color:#F7BED7;  /* fcf2f5 */
    padding-bottom: 100px; /* Ajuster cette valeur pour remonter plus */
}


.login-logofg img{
    width: 500px;
    height: 300px;
    object-fit: contain; /* Pour s'assurer que l'image garde ses proportions sans être déformée */
}


.login-img img{
    width: 500px;
    height: 500px;
    object-fit: contain; /* Pour s'assurer que l'image garde ses proportions sans être déformée */
}


.login-logoft img{
    width: 600px;
    height: 400px;
    object-fit: contain; /* Pour s'assurer que l'image garde ses proportions sans être déformée */
}


h1 {
    color :#282828; /* Change la couleur du texte en rose */
    font-size: 70px; /* définit la taille de la police à 70 pixels */
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    font-style: italic;
}
  

h2 {
      color : #4449D5;
      font-size: 36px; /* définit la taille de la police à 50 pixels */
      text-align: left;
      margin-top: 50px;
      margin-bottom: 20px;
}
  

h3 {
    color :#a2118a; /* Change la couleur du texte en rose */
    font-size: 20px; /* définit la taille de la police à 20 pixels */
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}
  

h4 {
    color: #790945;
    font-size: 20px; /* définit la taille de la police à 50 pixels */
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
}


#login-cont01 p {
    color: #5b5b5b;
    font-size: 40px;
    text-align: center;
    font-style: italic;
}
  
#login-cont02 p {
    color: #282828;
    font-size: 30px;
}

#login-cont02 a {
    color: #282828;
    font-size: 20px;
    text-decoration: none;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.tubes-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.identifiant, .mot-passe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.identifiant label, .mot-passe label{
    color: #282828;
    font-size: 36px;
    margin-left: 25px; /* écriture sur la partie droite du tube oblong et non pas sur la partie arrondie */
}


/*
#username {
    margin-top: 10px;
    margin-bottom: 10px;
}


#password {
    margin-top: 10px;
    margin-bottom: 10px;
}
*/


input[type="email"], input[type="password"] {
    width: 100%;
    padding: 20px;
    font-size: 20px;
    /* border: 2px solid #ccc; */
    border-radius: 30px;
    background-color: #ffffff;
    outline: none;
}

/*

CODE SPECIAL vu sur Stack Overflow
https://developer.mozilla.org/fr/docs/Web/CSS/WebKit_Extensions
https://developer.mozilla.org/en-US/docs/Web/CSS/important
gestion de l'auto-remplissage et des ombres par les navigateurs

*/

input[type="email"], input[type="password"] {
    background-color: #ffffff !important;
    box-shadow: none !important; /* Désactive toute ombre */
    -webkit-box-shadow: none !important; /* Désactive l'ombre spécifique à Chrome */
    border: none !important; /* Supprime la bordure */
    transition: background-color 0s; /* Évite le clignotement à l'auto-remplissage */
}

input:-webkit-autofill {
    background-color: #ffffff !important;
    -webkit-text-fill-color: #282828 !important; /* Force la couleur du texte */
    box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

/*

FIN DU CODE SPECIAL

*/

.purple {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

.btn-purple {
    background-color: #4449D5;
    color: #ffffff;
    font-size: 24px;
    border-radius: 30px;
    width: 220px;
    height: 60px;
    border: none; /* enlève le bord gris dû au nivagateur */
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-purple:hover {
    background-color: #363cb5;
}




/* 

Style pour le footer de la page login 

*/

.footer-container {
    background-color: #e5e5e5;
    padding: 8px; /* Ajouté un peu de padding vertical */
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    flex-wrap: wrap; /* pour éviter les problèmes d'affichage sur des écrans très étroits */
}

.footer-link {
    /* background-color: #2e2e2e; */
    color: #282828;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 0px;
    text-decoration: none;
    border-radius: 20px;
    display: inline-block;
    margin: 0px;             /* Espacement entre les liens */
    transition: background-color 0.3s ease; /* Transition pour le hover */
}

.footer-link:hover {
    color: #d9740f;
}


/* Honey Pot - Pot de miel : pour piéger les bots */
.lavande {
    display: none;
}