/* DEBUT

le bouton de navigation rond ne change pas sur l'ensemble du projet, que les pages soient violettes ou oranges :
on va donc créer un seul fichier pour éviter de devoir appliquer des modifications en double
-> ce fichier sera appelé dans les fichiers base.html.twig, base02.html.twig et base03.html.twig

https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp
https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp
https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp

*/


/* Simplification du CSS pour ne garder que le nécessaire */


.navbar {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 840px) {
    .navbar {
      top: 10px;
      right: 10px;
    }
}


.nav-button {
    background-color: #5b5b5b;
    color: #ffffff;
    width: 100px;
    height: 100px;
    font-size: 50px;
    /* font-weight: bold; */
    /* font-style: italic; */
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ff4300;
}


@media (max-width: 840px) {
    .nav-button {
        width: 60px;
        height: 60px;
        font-size: 30px;
    }
}


.dropdown-menu {
    display: block;  /* Changer de 'none' à 'block' pour travailler avec opacity */
    position: absolute;
    top: 105px;
    right: 0;
    width: 210px; /* Ajuste la valeur de la largeur du rectangle de menu déroulant selon le besoin */
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;          /* Initialement invisible */
    visibility: hidden;  /* Masquer le menu */
    transition: opacity 0.3s ease, visibility 0s 0.3s;  /* Transition fluide */
}


@media (max-width: 840px) {
    .dropdown-menu {
        top: 65px;
        border-radius: 6px;
    }
}


.dropdown-menu a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    color: #282828;
}


@media (max-width: 840px) {
    .dropdown-menu a {
        padding: 9px 18px;
        font-size: 18px;
    }
}


.dropdown-menu p {  /* on copie colle ".dropdown-menu a" pour copier le style */
    padding: 10px 20px;
    font-size: 20px;
}


@media (max-width: 840px) {
    .dropdown-menu p {
        padding: 9px 18px;
        font-size: 18px;
    }
}


#identite-bouton {
    font-size: 20px;
    font-weight: bold;
    color: #282828;
}

@media (max-width: 840px) {
    #identite-bouton {
        font-size: 18px;
    }
}

#email-bouton{
    font-size: 18px;
    font-style: italic;
    color: #5b5b5b;
}

@media (max-width: 840px) {
    #identite-bouton {
        font-size: 16px;
    }
}


.dropdown-menu a:hover {
    background-color: #282828;
    color: #ffffff;
}

.navbar:hover .dropdown-menu {
    opacity: 1;          /* Rendre le menu visible */
    visibility: visible; /* Le rendre visible */
    transition: opacity 0.3s ease, visibility 0s 0s;  /* Supprimer le délai de visibilité */
}

.fiche-grise i {
    /*font-size: 36px;  pas besoin d'agrandir l'icone */
    margin-right: 12px; /* espacement entre l'icône et "me déconnecter" */
}

@media (max-width: 840px) {
    .fiche-grise i {
        margin-right: 10px;
    }
}

/* FIN

https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp
https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp
https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp

*/

