/* DEBUT

la navbar ne change pas sur l'ensemble du projet, que les pages soient violettes ou oranges :
on va donc créer un seul fichier pour éviter de devoir appliquer des modifications en double
-> ce fichier sera appelé dans les fichiers base.html.twig, base02.html.twig et base03.html.twig

https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp
https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp
https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp

*/


/* Add a black background color to the top navigation */
.sidenav {
    position: fixed;  /*  Fixe la position de la navbar sur le côté */
    top: 0; /* la navbar se colle bien au haut de la page ! */
    left: 0; /* la navbar se colle bien à gauche de la page ! */
    background-color: #CCCEFF;
    display: flex;
    flex-direction: column; /* Met les éléments en colonne */
    align-items: center; /* Aligne les éléments au centre */
    width: 200px; /* Largeur fixe pour la sidebar */
    padding: 10px 0 0 0; /* on évite que le premier bouton soit trop collé au haut de la page */
    /* ce padding 10px explique le décalage vers le bas constaté quand on inspecte la navbar dans le header */
    overflow-y: auto; /* Permet un défilement vertical */
    height: 100vh; /* Utilise toute la hauteur de la fenêtre */
}

.sidenav ul {
    list-style: none; /* on cache les listes à puces */
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidenav li {
  width: 100%; /* Prend toute la largeur disponible */
  display: flex;
  justify-content: center; /* Centrer les éléments à l'intérieur du <li> */
}
  
/* Style the links inside the navigation bar */
.sidenav a {
/* float: left; propriété qui empêche un affichage vertical */
display: block;
color: #f2f2f2;
text-align: center;
padding: 16px 16px;
text-decoration: none;
font-size: 14px;
}


/* Style des boutons "Créations", "Suivis" et "Paramètres"  => attention : .princbtn seul ne fonctionne pas */
.sidenav .princbtn {
  color: #282828; /* Couleur du texte */
  font-size: 28px; /* Taille de police plus grande */
  background-color: transparent; /* Pas de fond */
  border: none; /* Pas de bordure */
  padding: 16px 16px; /* Garder la même taille de padding que pour les autres boutons */
  text-align: center; /* Centrer le texte */
  width: 100%; /* Garder la largeur de ces éléments pour qu'ils prennent toute la largeur de la barre */
}

.sidenav .princbtn:hover {
  color: #000000; /* Couleur du texte plus foncé au survol */
  font-weight: bold; /* écriture en gras */
}


/* Style des autres boutons autres que  "Nouveau", Créations", "Suivis" et "Paramètres"  => attention : .princbtn seul ne fonctionne pas */
.sidenav .btn-purple {
    font-size: 18px; /* Taille de police plus grande */
    border: none;
    outline: none;
    color: #ffffff; /* Couleur du texte */
    padding: 9px 18px 9px 18px; /* Garder la même taille de padding que pour les autres boutons => 20px pour équilibrer 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif */
    background-color: #4449d5; /* Pas de fond */
    font-family: inherit;
    margin: 8px 0; /* Centrer le bouton */
    width: 162px; /* Largeur du bouton plus petite */
    height: auto;
    text-align: center; /* Centrer le texte */
    border-radius: 10px;
    display: flex;
    align-items: center; /* Centrer le texte verticalement */
    justify-content: center; /* Centrer le texte horizontalement si nécessaire */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* boutons violets de la barre beaucoup plus lisibles avec cette police */
}


.sidenav .btn-purple:hover {
  background-color: #2e32a6; /* effet hover : violet foncé sur les boutons violets */
}


  
/* Dropdown container - needed to position the dropdown content */
.dropdown {
    overflow: hidden;
    /* border-radius: 10px; */
}
  
/* Style the dropdown button to fit inside the sidenav */
.dropdown .dropbtn {
    display: flex; /* permet d'aligner l'icône et le texte correctement */
    align-items: center; /* centre verticalement le contenu */
    justify-content: center; /* Centrer le texte horizontalement si nécessaire */
    font-size: 20px;
    border: none;
    outline: none;
    color: #ffffff; /* couleur du texte du bouton 'nouveau' */
    padding: 8px 18px 10px 18px; /* change la hauteur du bouton orange 'nouveau' */
    background-color: #ff4300; /* couleur de fond du bouton 'nouveau' */
    font-family: inherit;
    margin: 15px 0 20px 0; /* Centrer le bouton 20px 0 25px 0*/
    width: 150px; /* Largeur du bouton plus petite */
    height: auto; /* change la hauteur du bouton orange 'nouveau' */
    text-align: center; /* Centrer le texte */
    border-radius: 20px; /* bouton orange aux bords arrondis */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer; /* Indique que c'est cliquable */
}


.dropbtn i {
  margin-left: 10px; /* Espace entre l'icône et le texte du bouton orange */
}

  
/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: block;  /* Changer de 'none' à 'block' pour travailler avec opacity */
    position: absolute;
    top: 140px;
    left: 8px;
    background-color: #f9f9f9; /* couleur de fond du rectangle de menu déroulant */
    min-width: 180px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3); /*  ombre que projette le rectangle du menu déroulant */
    overflow: hidden;
    opacity: 0;          /* Initialement invisible */
    visibility: hidden;  /* Masquer le menu */
    transition: opacity 0.3s ease, visibility 0s 0.3s;  /* Transition fluide */
}
  
/* Style the links inside the dropdown */
.dropdown-content a {
    /* float: none; */
    color: #000000; /* couleur du texte dans le rectangle du menu déroulant */
    font-size: 18px; /* taille écriture dans le menu déroulant nouveau */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.sidenav a:hover {
  background-color: #CCCEFF; /* effet hover pour les boutons violets */
  color: #ffffff; 
}

.dropdown:hover .dropbtn {
  background-color: #ff4300; /* Conserver l'orange sur le bouton 'Nouveau' */
  color: #ffffff;
}


/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #dddddd; /* effet hover : couleur de fond dans le rectangle du menu déroulant */
    color: #000000; /* effet hover : couleur du texte dans le rectangle du menu déroulant */
}
  
/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  opacity: 1;          /* Rendre le menu visible */
  visibility: visible; /* Le rendre visible */
  transition: opacity 0.3s ease, visibility 0s 0s;  /* Supprimer le délai de visibilité */
}


/* Navbar Mobile (cachée par défaut) */
.sidenav-mobile {
  display: none;
} 
  

/* FIN

https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp
https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp
https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp

*/



/* Quand l’écran est plus petit */
@media screen and (max-width: 840px) {
  .sidenav {
    display: none;
  }

  /* Add a black background color to the top navigation */
  .sidenav-mobile {
    position: fixed;  /*  Fixe la position de la navbar sur le côté */
    top: 0; /* la navbar se colle bien au haut de la page ! */
    left: 0; /* la navbar se colle bien à gauche de la page ! */
    background-color: #E16FAB;
    display: flex;
    flex-direction: column; /* Met les éléments en colonne */
    align-items: center; /* Aligne les éléments au centre */
    width: 60px; /* Largeur fixe pour la sidebar */
    padding: 0px 0 0 0; /* 5px 0 0 0 => on évite que le premier bouton soit trop collé au haut de la page */
    /* ce padding 10px explique le décalage vers le bas constaté quand on inspecte la navbar dans le header */
    overflow-y: auto; /* Permet un défilement vertical */
    height: 100vh; /* Utilise toute la hauteur de la fenêtre */
  }

  .sidenav-mobile ul {
     list-style: none; /* on cache les listes à puces */
     width: 100%;
  }

  .sidenav-mobile li {
    width: 60px; 
    height: 60px;
    display: flex;
    justify-content: center; /* Centrer les éléments à l'intérieur du <li> */
    align-items: center;
    margin-bottom: 60px;
    
  }

  .logo-sidenav-mobile img {
    width: 120px; /* Ajuste la largeur */
    height: auto; /* Garde les proportions */
    object-fit: contain; /* pour s'assurer que l'image garde ses proportions sans être déformée */
  }

  /* Style des boutons "Créations", "Suivis" et "Paramètres"  => attention : .princbtn seul ne fonctionne pas */
  .sidenav-mobile .princbtn-mobile {
    display: flex;
    text-align: center; /* Centrer le texte */
    justify-content: center;
  }

  .sidenav-mobile .princbtn-mobile img:hover {
    background-color: #4449D5; /* Couleur du texte plus foncé au survol */
  }


  .icon-sidenav-mobile img {
    width: 60px; /* Ajuste la largeur */
    height: 60px; /* Garde les proportions */
    text-align: center; /* Centrer le texte */
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #4449D5;
    box-sizing: border-box; /* Assure que la bordure est incluse dans la taille totale */
    padding: 0; /* Retire tout padding qui pourrait affecter l'apparence */
    margin: 0; /* Retire toute marge qui pourrait affecter l'apparence */
    object-fit: contain; /* pour s'assurer que l'image garde ses proportions sans être déformée */
  }

}