/* DEBUT

la navbar ne change pas sur l'ensemble du projet, que les pages soient violettes ou oranges :
on va donc créer un seul fichier pour éviter de devoir appliquer des modifications en double
-> ce fichier sera appelé dans les fichiers base.html.twig et base02.html.twig

https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp
https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp
https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp

*/


/* Add a black background color to the top navigation */
.sidenav {
    position: fixed;  /*  Fixe la position de la navbar sur le côté */
    top: 0; /* la navbar se colle bien au haut de la page ! */
    background-color: #CCCEFF;
    display: flex;
    flex-direction: column; /* Met les éléments en colonne */
    align-items: center; /* Aligne les éléments au centre */
    width: 200px; /* Largeur fixe pour la sidebar */
    padding: 10px 0 0 0;
    overflow-y: auto; /* Permet un défilement vertical */
    height: 100vh; /* Utilise toute la hauteur de la fenêtre */
}

.sidenav ul {
    list-style: none; /* on cache les listes à puces */
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidenav li {
  width: 100%; /* Prend toute la largeur disponible */
  display: flex;
  justify-content: center; /* Centrer les éléments à l'intérieur du <li> */
}
  
/* Style the links inside the navigation bar */
.sidenav a {
/* float: left; propriété qui empêche un affichage vertical */
display: block;
color: #f2f2f2;
text-align: center;
padding: 16px 16px;
text-decoration: none;
font-size: 14px;
}

/* Hide the link that should open and close the sidenav on small screens */
.sidenav .icon {
    display: none;
}

/* Style des boutons "Créations", "Suivis" et "Paramètres"  => attention : .princbtn seul ne fonctionne pas */
.sidenav .princbtn {
  color: #282828; /* Couleur du texte */
  font-size: 28px; /* Taille de police plus grande */
  background-color: transparent; /* Pas de fond */
  border: none; /* Pas de bordure */
  padding: 16px 16px; /* Garder la même taille de padding que pour les autres boutons */
  text-align: center; /* Centrer le texte */
  width: 100%; /* Garder la largeur de ces éléments pour qu'ils prennent toute la largeur de la barre */
}

.sidenav .princbtn:hover {
  color: #000000; /* Couleur du texte plus foncé au survol */
  font-weight: bold; /* écriture en gras */
}


/* Style des autres boutons autres que  "Nouveau", Créations", "Suivis" et "Paramètres"  => attention : .princbtn seul ne fonctionne pas */
.sidenav .btn-purple {
    font-size: 18px; /* Taille de police plus grande */
    border: none;
    outline: none;
    color: #ffffff; /* Couleur du texte */
    padding: 16px 16px; /* Garder la même taille de padding que pour les autres boutons */
    background-color: #4449d5; /* Pas de fond */
    font-family: inherit;
    margin: 8px 0; /* Centrer le bouton */
    width: 150px; /* Largeur du bouton plus petite */
    height: 10px;
    text-align: center; /* Centrer le texte */
    border-radius: 10px;
    display: flex;
    align-items: center; /* Centrer le texte verticalement */
    justify-content: center; /* Centrer le texte horizontalement si nécessaire */
}


.sidenav .btn-purple:hover {
  background-color: #2e32a6; /* Un violet plus foncé au survol */
}


  
/* Dropdown container - needed to position the dropdown content */
.dropdown {
    overflow: hidden;
    border-radius: 10px;
}
  
/* Style the dropdown button to fit inside the sidenav */
.dropdown .dropbtn {
    font-size: 22px;
    border: none;
    outline: none;
    color: white;
    font-weight: bold; /* écriture en gras */
    padding: 16px 16px;
    background-color: #ff4300;
    font-family: inherit;
    margin: 20px 0 25px 0; /* Centrer le bouton */
    width: 150px; /* Largeur du bouton plus petite */
    height: 30px;
    text-align: center; /* Centrer le texte */
    border-radius: 20px;
    display: flex;
    align-items: center; /* Centrer le texte verticalement */
    justify-content: center; /* Centrer le texte horizontalement si nécessaire */
    
}
  
/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Style the links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    font-size: 18px; /* taille écriture dans le menu déroulant nouveau */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}
  
/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}
  
/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}
  
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the sidenav (.icon) */
@media screen and (max-width: 600px) {
    .sidenav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .sidenav a.icon {
      float: right;
      display: block;
    }
}
  
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .sidenav.responsive {position: relative;}
    .sidenav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .sidenav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .sidenav.responsive .dropdown {float: none;}
    .sidenav.responsive .dropdown-content {position: relative;}
    .sidenav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
}


/* FIN

https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp
https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp
https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp

*/

