/*

PAGES VIOLETTES
PAGES VIOLETTES
PAGES VIOLETTES

*/


html, body {  /* avec ces lignes, le bandeau blanc latéral droite disparait */
  width: 100%;
  overflow-x: hidden; /* Empêche le défilement horizontal */
}


* { /* on calibre notre page => important au moins pour la navbar */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display : flex;
  background-color:#fcf2f5; /* #fcf2f5 */
  margin-left: 0;
  min-height: 100vh; /* Assure que le fond prend au moins toute la hauteur de l'écran */
  min-width: 100vw;
}

.sous-cont {
  display : flex;
  margin-left : 230px;
  margin-right: 60px;
  margin-bottom: 80px;
  width: 85%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


main {
  margin-left: 10px; /* Décale le contenu principal pour éviter qu'il soit sous la navbar */
  margin-right: 10px; /* Décale le contenu principal pour équilibrer entre droite et gauche */
  padding: 15px 0 0 0;
  min-height: 100vh; /* Assure que le fond prend au moins toute la hauteur de l'écran */
  min-width: 100vw;
}

h1 {
  color :#790945; /* Change la couleur du texte en rose */
  font-size: 70px; /* définit la taille de la police à 50 pixels */
  text-align: center;
  margin-top: 50px;
  margin-bottom: 5px;
}

h2 {
    color : #4449D5;
    font-size: 36px; /* définit la taille de la police à 50 pixels */
    text-align: left;
    margin-top: 50px;
    margin-bottom: 20px;
}

h3 {
  color :#a2118a; /* Change la couleur du texte en rose */
  font-size: 24px; /* définit la taille de la police à 24 pixels */
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

h4 {
  color: #790945;
  font-size: 28px; /* définit la taille de la police à 28 pixels */
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
}


p {
  font-size: 26px;
}



/* 

code css pour les grands bandeaux cliquables (les pages des grandes sections : créations, suivis, paramètres) 

*/


.lot-bandeau {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bandeau {
  display: block;                  /* Rend le <a> cliquable sur toute la largeur */
  text-decoration: none;           /* Supprime le soulignement */
  color: #282828;                /* Garde la couleur du texte */
  padding: 5px 15px 15px 10px;     /* Ajoute de l’espace intérieur entre le contenu (le texte) et la bordure du a */
  margin-top: 15px;                /* Ajoute de l’espace au dessus des bandeaux */
  margin-bottom: 15px;             /* Ajoute de l’espace en dessous des bandeaux */
  border: 0px solid #ccc;        /* mettre une bordure éventuellement qui sera pleine et en gris clair*/
  background-color: #ffffff;     /* on souhaite un fond blanc */
  border-radius: 10px;             /* pour les bords arrondis */
  width: 100%;
}

.bandeau:hover {
  background-color: #efefff; /* Petit effet 'violet clair' au survol */
}


/*

fin du code css pour les grands bandeaux cliquables

*/







/*

PAGE D'ACCUEIL

*/


.accueil-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw; /* pour occuper toute la largeur */
}


.accueil-h1 {
  color :#790945; /* Change la couleur du texte en rose */
  font-size: 50px; /* définit la taille de la police à 50 pixels */
  text-align: center;
  margin-top: 50px;
  margin-bottom: 5px;
}


.accueil-h2 {
  color :#282828; /* Change la couleur du texte en rose */
  font-size: 50px; /* définit la taille de la police à 50 pixels */
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}


.accueil-h3 {
  color :#a2118a; /* Change la couleur du texte en rose */
  font-size: 20px; /* définit la taille de la police à 20 pixels */
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}


.accueil-boite1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.accueil-lien {
  display: block; /* Permet à <a> de se comporter comme un bloc : on n'a pas envie qu'un élément en ligne puisse contenir un bloc */
  text-decoration: none; /* Supprime le soulignement du lien */
  color: inherit; /* Hérite la couleur du texte du parent */
}


.accueil-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 150px;
  margin-right: 150px;
}


.accueil-img img {  /* si je ne rajoute pas img, il ne peut pas sélectionner l'image de "Suivis" */
  /* text-align : right; */
  /*margin-top : 15px;  on ne souhaite pas coller le logo en haut du document */
  /*margin-right : 30px;  on ne souhaite pas coller le logo au bord du document */
  width: 400px;
  height: 400px;
  object-fit: contain; /* Pour s'assurer que l'image garde ses proportions sans être déformée */
}


.accueil-boite1 a, /* pour que les liens de la page d'accueil ne soient pas soulignés */
a.accueil-card {
    text-decoration: none;
}


/*

FIN PAGE D'ACCUEIL

*/






/*

VUES D'ENSEMBLE

*/


.apprenants-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.apprenants-table th {
  font-size: 22px;
  color: #4449D5;
  padding: 18px 0px 22px 18px; /* 18px 0px 22px 16px */
  text-align: left;
}

.apprenants-table td {
  font-size: 22px;
  color: #282828;
  padding: 10px 10px 10px 10px; /* 10px 10px 10px 10px */
  border-bottom: 1px solid #ddd;
}

.apprenants-table tr:hover {
  background-color: #f5f5f5;
}

thead tr:hover {
  background-color: transparent !important;
}

.clickable-row {
  cursor: pointer; /* le curseur de la souris change */
}

.clickable-row a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  padding: 0px 0px 0px 10px; /* la hauteur du rectangle doit rester assez petite : on veut juste un décalage du bord gauche */
}


/* Styliser les icônes d'édition et de suppression */
.icon-btn-gris i {
  font-size: 1.3em; /* Agrandit légèrement les icônes */
  color: #5b5b5b; /* Gris foncé */
}

.icon-btn-gris:hover i {
  color: red; /* Rouge au survol */
}


/* Styliser le bouton "Créer un apprenant" */
.btn.btn-rose {
  display: inline-flex; /* Permet d'aligner l'icône et le texte correctement */
  align-items: center; /* Centre verticalement le contenu */
  background-color: #4449D5; /* Violet */
  color: #ffffff; /* Écriture blanche */
  padding: 8px 25px 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 26px;
  /* font-weight: bold; */
  transition: background-color 0.3s ease-in-out;
}

.btn.btn-rose i {
  font-size: 36px; /* l'icone n'est pas assez grande */
  margin-right: 12px; /* Espacement entre l'icône et le texte */
}

.btn.btn-rose:hover {
  background-color: #2e32a6; /* Violet foncé au survol */
}

/* Aligner le bouton à droite */
.postion-purple {
  display: flex;
  justify-content: flex-end;
  width: 100%; /* Assure que le div prend toute la largeur disponible */
  margin-bottom: 20px;
}


/*

FIN DES VUES D'ENSEMBLE

*/



/*

VUES DE DETAILS

*/

.details-fiches {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: stretch; /* center => stretch : force les div à avoir la même hauteur */
  margin: 0px;
  gap: 20px
}

.fiche-gauche, .fiche-droite {
  display: flex; /* flex */
  flex-direction: column;
  width: 50%;
  color: #282828;
  background-color: #ffffff; /* ffffff */
  border-radius: 20px;
  font-size: 26px;
  padding: 20px;
}


.details-responsables {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: left; /* center pose des soucis */
  align-items: stretch; /* center => stretch : force les div à avoir la même hauteur */
  margin: 0px;
  gap: 20px;
  flex-wrap: wrap; /* pour que le 3eme rectangle se place correctement en dessous aligné à gauche */
}

.fiche-responsable {
  display: flex; /* flex */
  flex-direction: column; /* on veut des colonnes pour empiler les champs : un seul champ ici donc pas important */
  width: 100%;  /* 50% pose problème */
  color: #282828;
  background-color: #ffffff; /* ffffff */
  border-radius: 20px;
  font-size: 26px;
  padding: 20px;
  transition: background-color 0.3s;
}


.details-modules {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: left; /* center pose des soucis */
  align-items: stretch; /* center => stretch : force les div à avoir la même hauteur */
  margin: 0px;
  gap: 20px;
  flex-wrap: wrap; /* pour que le 3eme rectangle se place correctement en dessous aligné à gauche */
}

.fiche-module {
  display: flex; /* flex */
  flex-direction: column; /* on veut des colonnes pour empiler les champs : un seul champ ici donc pas important */
  width: 100%;  /* 50% pose problème */
  color: #282828;
  background-color: #ffffff; /* ffffff */
  border-radius: 20px;
  font-size: 26px;
  padding: 20px;
  transition: background-color 0.3s;
}


.clickable-div {
  display: block;
  flex-direction: row;
  text-decoration: none; /* Enlève le soulignement du lien */
  color: inherit; /* Garde la couleur du texte */
  width: 50%;
}

.clickable-div:hover .fiche-responsable {
  background-color: #dedfff; /* Effet au survol */
}


.fiche-champ {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  margin: 0px;
  flex-grow: 1; /* assure un espacement uniforme */
}

.fiche-champ a {
  text-decoration: none;
}

.mini-rose {
  font-size: 22px;
  color: #E16FAB;
}

/* Aligner le bouton à droite */
.postion-rose {
  display: flex;
  justify-content: center;
  width: 100%; /* Assure que le div prend toute la largeur disponible */
  margin-top: 60px;
  gap: 60px;
}

.msg-vide {
  width: 100%;
  /*border-collapse: collapse;*/
  background-color: white;
  padding: 30px 0px 30px 22px;
  font-size: 30px;
  color: #282828;
  margin: 0;
  font-weight: bold;
  border-radius: 20px;
}



.fiche-violet {
  display: inline;
  color: #4449D5;
  font-weight: bold;
}

.fiche-violet-mini {
  display: inline;
  color: #4449D5;
  font-weight: bold;
  font-size: 20px;
}

.fiche-gris-mini {
  display: inline;
  /* color: #4449D5; */
  font-size: 20px;
}

.fiche-gris-maxi {
  display: inline;
  /* color: #4449D5; */
  font-weight: bold;
  font-size: 24px;
}


.session-h1 {
  color :#790945; /* Change la couleur du texte en rose */
  font-size: 60px; /* définit la taille de la police à 50 pixels */
  text-align: center;
  margin-top: 50px;
  margin-bottom: 5px;
  width: 100%;
}

.session-h3 {
  color :#a2118a; /* Change la couleur du texte en rose */
  font-size: 24px; /* définit la taille de la police à 24 pixels */
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
  width: 100%;
}




/* 
TABLEAU SHOW-APPRENANT
*/
.apprenant-details-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 20px;
  table-layout: fixed; /* force le respect des largeurs définies */
}

/* Définition des largeurs des colonnes */
.apprenant-details-table th:nth-child(1),
.apprenant-details-table td:nth-child(1) {
    width: 25%;
}

.apprenant-details-table th:nth-child(2),
.apprenant-details-table td:nth-child(2) {
    width: 18%;
}

.apprenant-details-table th:nth-child(3),
.apprenant-details-table td:nth-child(3) {
    width: 18%;
}

.apprenant-details-table th:nth-child(4),
.apprenant-details-table td:nth-child(4) {
    width: 14%;
}

.apprenant-details-table th:nth-child(5),
.apprenant-details-table td:nth-child(5) {
    width: 15%;
}

.apprenant-details-table th:nth-child(6),
.apprenant-details-table td:nth-child(6) {
    width: 10%;
}

.apprenant-details-table th {
  font-size: 26px;
  color: #4449D5;
  padding: 18px 0px 0px 0px;
  text-align: left;
  vertical-align: middle; /* Aligner les contenus verticalement */
}

.apprenant-details-table td {
  font-size: 26px;
  color: #282828;
  padding: 0px 0px 10px 0px;
  /* border-bottom: 1px solid #ddd; */
  text-align: left; /* pour voir si l'alignement s'effectue correctement */
  vertical-align: middle; /* Aligner les contenus verticalement */
}

.apprenant-details-table tr:hover {
  background-color: #ffffff; /* je ne veux plus que la ligne change de couleur ! #f5f5f5 */
}


/* 
TABLEAU SHOW-FORMATEUR
*/
.formateur-details-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 20px;
  table-layout: fixed; /* force le respect des largeurs définies */
}

/* Définition des largeurs des colonnes */
.formateur-details-table th:nth-child(1),
.formateur-details-table td:nth-child(1) {
    width: 25%;
}

.formateur-details-table th:nth-child(2),
.formateur-details-table td:nth-child(2) {
    width: 18%;
}

.formateur-details-table th:nth-child(3),
.formateur-details-table td:nth-child(3) {
    width: 18%;
}

.formateur-details-table th:nth-child(4),
.formateur-details-table td:nth-child(4) {
    width: 14%;
}

.formateur-details-table th:nth-child(5),
.formateur-details-table td:nth-child(5) {
    width: 15%;
}

.formateur-details-table th:nth-child(6),
.formateur-details-table td:nth-child(6) {
    width: 10%;
}

.formateur-details-table th {
  font-size: 26px;
  color: #4449D5;
  padding: 18px 0px 0px 0px;
  text-align: left;
  vertical-align: middle; /* Aligner les contenus verticalement */
}

.formateur-details-table td {
  font-size: 26px;
  color: #282828;
  padding: 0px 0px 10px 0px;
  /* border-bottom: 1px solid #ddd; */
  text-align: left; /* pour voir si l'alignement s'effectue correctement */
  vertical-align: middle; /* Aligner les contenus verticalement */
}

.formateur-details-table tr:hover {
  background-color: #ffffff; /* je ne veux plus que la ligne change de couleur ! #f5f5f5 */
}


/* 
TABLEAU SHOW-RESPONSABLE
*/
.responsable-details-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 20px;
  table-layout: fixed; /* force le respect des largeurs définies */
}

/* Définition des largeurs des colonnes */
.responsable-details-table th:nth-child(1),
.responsable-details-table td:nth-child(1) {
    width: 40%;
}

.responsable-details-table th:nth-child(2),
.responsable-details-table td:nth-child(2) {
    width: 40%;
}

.responsable-details-table th:nth-child(3),
.responsable-details-table td:nth-child(3) {
    width: 20%;
}

.responsable-details-table th {
  font-size: 26px;
  color: #4449D5;
  padding: 18px 0px 0px 0px;
  text-align: left;
  vertical-align: middle; /* Aligner les contenus verticalement */
}

.responsable-details-table td {
  font-size: 26px;
  color: #282828;
  padding: 0px 0px 10px 0px;
  /* border-bottom: 1px solid #ddd; */
  text-align: left; /* pour voir si l'alignement s'effectue correctement */
  vertical-align: middle; /* Aligner les contenus verticalement */
}

.responsable-details-table tr:hover {
  background-color: #ffffff; /* je ne veux plus que la ligne change de couleur ! #f5f5f5 */
}


/* 
TABLEAU SHOW-SOCIETE
*/
.societe-details-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 20px;
  table-layout: fixed; /* force le respect des largeurs définies */
}

/* Définition des largeurs des colonnes */
.societe-details-table th:nth-child(1),
.societe-details-table td:nth-child(1) {
    width: 40%;
}

.societe-details-table th:nth-child(2),
.societe-details-table td:nth-child(2) {
    width: 40%;
}

.societe-details-table th:nth-child(3),
.societe-details-table td:nth-child(3) {
    width: 20%;
}

.societe-details-table th {
  font-size: 26px;
  color: #4449D5;
  padding: 18px 0px 0px 0px;
  text-align: left;
  vertical-align: middle; /* Aligner les contenus verticalement */
}

.societe-details-table td {
  font-size: 26px;
  color: #282828;
  padding: 0px 0px 10px 0px;
  /* border-bottom: 1px solid #ddd; */
  text-align: left; /* pour voir si l'alignement s'effectue correctement */
  vertical-align: middle; /* Aligner les contenus verticalement */
}

.societe-details-table tr:hover {
  background-color: #ffffff; /* je ne veux plus que la ligne change de couleur ! #f5f5f5 */
}



/* 
TABLEAU SHOW-SESSION
*/
.session-details-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 20px;
  table-layout: fixed; /* force le respect des largeurs définies */
}

/* Définition des largeurs des colonnes */
.session-details-table th:nth-child(1),
.session-details-table td:nth-child(1) {
    width: 22%;
}

.session-details-table th:nth-child(2),
.session-details-table td:nth-child(2) {
    width: 28%;
}

.session-details-table th:nth-child(3),
.session-details-table td:nth-child(3) {
    width: 15%;
}

.session-details-table th:nth-child(4),
.session-details-table td:nth-child(4) {
    width: 20%;
}

.session-details-table th:nth-child(5),
.session-details-table td:nth-child(5) {
    width: 15%;
}

.session-details-table th {
  font-size: 26px;
  color: #4449D5;
  padding: 18px 0px 0px 0px;
  text-align: left;
  vertical-align: middle; /* Aligner les contenus verticalement */
}

.session-details-table td {
  font-size: 26px;
  color: #282828;
  padding: 0px 0px 10px 0px;
  /* border-bottom: 1px solid #ddd; */
  text-align: left; /* pour voir si l'alignement s'effectue correctement */
  vertical-align: middle; /* Aligner les contenus verticalement */
}

.session-details-table tr:hover {
  background-color: #ffffff; /* je ne veux plus que la ligne change de couleur ! #f5f5f5 */
}

.fiche-orange {
  display: inline;
  color :#ff4300;
  text-decoration: none;
  font-weight: bold;
}

.fiche-orange:hover {
  color :#ff9944;
  font-style: italic;
}

.fiche-orange i {
  /*font-size: 36px;  pas besoin d'agrandir l'icone */
  margin-right: 12px; /* Espacement entre l'icône et le nom du référent */
}

/*

FIN DES VUES DE DETAILS

*/

