/*

DOCUMENTS ADMINISTRATIFS
DOCUMENTS ADMINISTRATIFS
DOCUMENTS ADMINISTRATIFS

*/

/* 
Ce fichier servira à styliser les documents administratifs
Il est souhaitable de ne pas afficher la navbar dans ces documents
*/



html, body {  /* avec ces lignes, le bandeau blanc latéral droite disparait */
    width: 100%;
    overflow-x: hidden; /* Empêche le défilement horizontal */
  }
  
  
  * { /* on calibre notre page => important au moins pour la navbar */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    display : flex;
    background-color:#ffffff;
    margin: 0;
    min-height: 100vh; /* Assure que le fond prend au moins toute la hauteur de l'écran */
    min-width: 100vw;
  }

  .sous-cont {
    display : flex;
    margin-left : 230px;
    margin-right: 60px;
    margin-bottom: 80px;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  main {
    margin-left: 10px; /* Décale le contenu principal pour éviter qu'il soit sous la navbar 110 */
    margin-right: 10px; /* Décale le contenu principal pour équilibrer entre droite et gauche */
    padding: 15px 0 0 0;
    min-height: 100vh; /* Assure que le fond prend au moins toute la hauteur de l'écran */
    min-width: 100vw;
  }

h1 {
    color :#bd1e73; /* Change la couleur du texte en rose */
    background-color: #ffffff; /* Fond noir */
    font-size: 46px; /* définit la taille de la police à 46 pixels */
    border-top: 3px solid #ff9944;   /* Ecriture abrégé : bordure en haut */
    border-bottom: 3px solid #ff9944; /* Ecriture abrégé : bordure en bas */
    border-left: none;  /* Pas de bordure à gauche */
    border-right: none; /* Pas de bordure à droite */
    padding: 10px; /* Espace entre le texte et ls bordures oranges */
    /* display: inline-block;  Pour que la bordure ne prenne que la largeur du texte */
    /* border-radius: 10px;  on arrondit les coins => c'est moche en fait !  */
    width: 100%;
}


h2 {
    color :#bd1e73; /* Change la couleur du texte en bleu */
    background-color: #ffffff; /* Fond noir */
    font-size: 30px; /* définit la taille de la police à 30 pixels */
    /* border : 3px solid red; */
    /*border-width: 3px; /* Épaisseur */
    /*border-style: solid;  Style plein */
    /*border-color: #bd1e73;  Change la couleur de la bordure en bleu */
    /*padding: 10px;  Espace entre le texte et la bordure */
    /*display: inline-block;  Pour que la bordure ne prenne que la largeur du texte */
    /*border-radius: 10px;  on arrondit les coins */
    margin-top: 18px;
    margin-bottom: 6px;
}

h3 {
    color :#4449d5; /* Change la couleur du texte en bleu */
    background-color: #ffffff; /* Fond noir */
    /* border : 3px solid red; */
    /*border-width: 3px; /* Épaisseur */
    /*border-style: solid;  Style plein */
    /*border-color: #bd1e73;  Change la couleur de la bordure en bleu */
    /*padding: 10px;  Espace entre le texte et la bordure */
    /*display: inline-block;  Pour que la bordure ne prenne que la largeur du texte */
    /*border-radius: 10px;  on arrondit les coins */
    margin-top: 12px;
    margin-bottom: 6px;
}




/*

style pour l'affichage du tampon et la signature du dirigeant de l'organisme de formation

*/


.signatures {
    display : flex;
    justify-content: space-around;
    width: 100%;
}


.signature img {
    width: 200px;
    height: 200px;
    object-fit: contain; /* Pour s'assurer que l'image garde ses proportions sans être déformée */
    /* border: 1px solid #a92b2b;  Ajouter une bordure douce autour de l'image */
    /* border-radius: 8px;  Bordures arrondies */
} 




/* 

logo de haut de page du document PDF
  
*/
  
header {
    text-align : right;
    margin-top : 15px; /* on ne souhaite pas coller le logo en haut du docvument */
    margin-right : 30px; /* on ne souhaite pas coller le logo au bord du docvument */
    width: 100%;
}

header img {
    width: 300px;
    height: 100px;
    object-fit: contain; /* Pour s'assurer que l'image garde ses proportions sans être déformée */
} 



/*

Pied de page du document PDF

*/

footer {
    /*position : fixed;
    bottom : 0;
    left : 0;
    right : 0;
    padding : 5px;*/
    font-family: Arial, sans-serif;  /* Police simple et professionnelle - conseil de Mathilde */
    color: #979797;  /* couleur du texte en gris moyen */
    font-size: 10px; /* définit la taille de la police à 10 pixels */
    text-align: center; /* centre horizontalement le texte dans le bloc .footer */
    margin-top: 30px; /* ajoute un espace vide de 30 pixels au-dessus de .footer => séparer le pied de page du contenu qui le précède */
    padding-top: 10px; /* ajoute un espace intérieur de 10 pixels en haut du bloc .footer => il donne de l'air après la bordure (qui sera ajoutée juste en dessous) pour que le texte ne soit pas collé */
    padding-bottom: 10px; /* ne pas coller le footer au bas de la page mais laisser un petit espace */
    border-top: 1px solid #d8d8d8; /* ajoute une bordure supérieure (1 pixel d'épaisseur, trait plein (solid), gris clair (#d8d8d8)) => séparer visuellement le pied de page du reste du contenu avec un trait discret */
    line-height: 1.4; /* définit l’espacement vertical entre les lignes de texte (hauteur de ligne) à 1.4 fois la taille de la police => améliore la lisibilité */
    width: 100%;
}



/*

TABLEAUX DU DOCUMENT "CONVENTION"

*/


/* Styles généraux pour les tableaux */


.convention-horraires {
  width: 60%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

/* Styles pour les en-têtes des tableaux */
.convention-horraires th {
  background-color: #cafafc;
  color: #282828;
  padding: 10px;
  text-align: center;
}

/* Styles pour les cellules */
.convention-horraires td {
  padding: 10px;
  border: 1px solid #ddd;
}

/* Alternance des couleurs pour les lignes */
.convention-horraires tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.convention-horraires tbody tr:nth-child(even) {
  background-color: #ffffff;
}




/* Styles généraux pour les tableaux */
.convention-effectif {
  width: 40%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

/* Styles pour les en-têtes des tableaux */
.convention-effectif th {
  background-color: #cafafc;
  color: #282828;
  padding: 10px;
  text-align: center;
}

/* Styles pour les cellules */
.convention-effectif td {
  padding: 10px;
  border: 1px solid #ddd;
}

/* Alternance des couleurs pour les lignes */
.convention-effectif tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.convention-effectif tbody tr:nth-child(even) {
  background-color: #ffffff;
}




/* Ajustement des tableaux spécifiques */
.convention-horraires th, .convention-effectif th {
  font-weight: bold;
}

.convention-horraires td, .convention-effectif td {
  text-align: center;
}

/* Ajout d'un peu d'espace autour des tableaux */
.convention-horraires, .convention-effectif {
  margin-bottom: 30px;
}


/*

FIN TABLEAUX DU DOCUMENT "CONVENTION"

*/