/* 
DOCUMENTS ADMINISTRATIFS en format PDF
DOCUMENTS ADMINISTRATIFS en format PDF
DOCUMENTS ADMINISTRATIFS en format PDF
*/

/* 
Ce fichier servira à styliser les documents administratifs
Il est souhaitable de ne pas afficher la navbar dans ces documents
*/

h1 {
    color :#bd1e73; /* Change la couleur du texte en rose */
    background-color: #ffffff; /* Fond noir */
    border-top: 3px solid #ff9944;   /* Ecriture abrégé : bordure en haut */
    border-bottom: 3px solid #ff9944; /* Ecriture abrégé : bordure en bas */
    border-left: none;  /* Pas de bordure à gauche */
    border-right: none; /* Pas de bordure à droite */
    padding: 10px; /* Espace entre le texte et la bordure */
    /* display: inline-block;  Pour que la bordure ne prenne que la largeur du texte */
    /* border-radius: 10px;  on arrondit les coins => c'est moche en fait !  */
}


h2 {
    color :#bd1e73; /* Change la couleur du texte en bleu */
    background-color: #ffffff; /* Fond noir */
    /* border : 3px solid red; */
    /*border-width: 3px; /* Épaisseur */
    /*border-style: solid;  Style plein */
    /*border-color: #bd1e73;  Change la couleur de la bordure en bleu */
    /*padding: 10px;  Espace entre le texte et la bordure */
    /*display: inline-block;  Pour que la bordure ne prenne que la largeur du texte */
    /*border-radius: 10px;  on arrondit les coins */
}

.signature img {
    width: 100px;
    height: 100px;
    object-fit: contain; /* Pour s'assurer que l'image garde ses proportions sans être déformée */
    border: 1px solid #a92b2b; /* Ajouter une bordure douce autour de l'image */
    border-radius: 8px; /* Bordures arrondies */
} 


/* 

logo de haut de page du document PDF
  
*/
  
.header {
    text-align : right;
    margin-top : 15px; /* on ne souhaite pas coller le logo en haut du docvument */
    margin-right : 30px; /* on ne souhaite pas coller le logo au bord du docvument */
}

.header img {
    width: 300px;
    height: 100px;
    object-fit: contain; /* Pour s'assurer que l'image garde ses proportions sans être déformée */
} 



/*

Pied de page du document PDF

*/

.footer { /* sélecteur de classe : attention au point :-) */
    /*position : fixed;
    bottom : 0;
    left : 0;
    right : 0;
    padding : 5px;*/
    font-family: Arial, sans-serif;  /* Police simple et professionnelle - Mathilde et aussi c'est plus joli que Verdana */
    color: #979797;  /* couleur du texte en gris moyen */
    font-size: 10px; /* définit la taille de la police à 10 pixels */
    text-align: center; /* centre horizontalement le texte dans le bloc .footer */
    margin-top: 30px; /* ajoute un espace vide de 30 pixels au-dessus de .footer => séparer le pied de page du contenu qui le précède */
    padding-top: 10px; /* ajoute un espace intérieur de 10 pixels en haut du bloc .footer => il donne de l'air après la bordure (qui sera ajoutée juste en dessous) pour que le texte ne soit pas collé */
    border-top: 1px solid #d8d8d8; /* ajoute une bordure supérieure (1 pixel d'épaisseur, trait plein (solid), gris clair (#d8d8d8)) => séparer visuellement le pied de page du reste du contenu avec un trait discret */
    line-height: 1.4; /* définit l’espacement vertical entre les lignes de texte (hauteur de ligne) à 1.4 fois la taille de la police => améliore la lisibilité */
}
