/*

PAGES VIOLETTES
PAGES VIOLETTES
PAGES VIOLETTES

*/


html, body {  /* avec ces lignes, le bandeau blanc latéral droite disparait */
  width: 100%;
  overflow-x: hidden; /* Empêche le défilement horizontal */
}


* { /* on calibre notre page => important au moins pour la navbar */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display : flex;
  background-color:#fcf2f5; /* #fff0f5 */
  margin: 0;
  min-height: 100vh; /* Assure que le fond prend au moins toute la hauteur de l'écran */
  min-width: 100vw;
}


main {
  margin-left: 10px; /* Décale le contenu principal pour éviter qu'il soit sous la navbar */
  margin-right: 10px; /* Décale le contenu principal pour équilibrer entre droite et gauche */
  padding: 15px 0 0 0;
  min-height: 100vh; /* Assure que le fond prend au moins toute la hauteur de l'écran */
  min-width: 100vw;
}


h1 {
    color : #790945;
}

h2 {
    color : #4449D5;
}

h3 {
    color : #A2118A;
}









/* code css pour les grands bandeaux cliquables (les pages des grandes sections : créations, suivis, paramètres) */

.bandeau {
  display: block;              /* Rend le <a> cliquable sur toute la largeur */
  text-decoration: none;       /* Supprime le soulignement */
  color: inherit;              /* Garde la couleur du texte */
  padding: 15px;               /* Ajoute de l’espace intérieur entre le contenu (le texte) et la bordure du a */
  border: 0px solid #ccc;    /* mettre une bordure éventuellement qui sera pleine et en gris clair*/
  background-color: #ffffff; /* on souhaite un fond blanc */
  border-radius: 10px;         /* pour les bords arrondis */
}

.bandeau:hover {
  background-color: #efefff; /* Petit effet 'violet clair' au survol */
}

/* fin du code css pour les grands bandeaux cliquables */








/*

PAGE D'ACCUEIL

*/


.accueil-cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw; /* pour occuper toute la largeur */
}


.accueil-h1{
  color :#790945; /* Change la couleur du texte en rose */
  font-size: 50px; /* définit la taille de la police à 26 pixels */
  text-align: center;
  margin-top: 50px;
  margin-bottom: 5px;
}


.accueil-h2{
  color :#282828; /* Change la couleur du texte en rose */
  font-size: 50px; /* définit la taille de la police à 26 pixels */
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}


.accueil-h3{
  color :#a2118a; /* Change la couleur du texte en rose */
  font-size: 20px; /* définit la taille de la police à 26 pixels */
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}


.accueil-boite1{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}


.accueil-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 150px;
  margin-right: 150px;
}


.accueil-img img {  /* si je ne rajoute pas img, il ne peut pas sélectionner l'image de "Suivis" */
  /* text-align : right; */
  /*margin-top : 15px;  on ne souhaite pas coller le logo en haut du document */
  /*margin-right : 30px;  on ne souhaite pas coller le logo au bord du document */
  width: 400px;
  height: 400px;
  object-fit: contain; /* Pour s'assurer que l'image garde ses proportions sans être déformée */
}


.accueil-boite1 a, /* pour que les liens de la page d'accueil ne soient pas soulignés */
a.accueil-card {
    text-decoration: none;
}


/*

FIN PAGE D'ACCUEIL

*/


