/*

PAGES ORANGES
PAGES ORANGES
PAGES ORANGES

*/


html, body {  /* avec ces lignes, le bandeau blanc latéral droite disparait */
  width: 100%;
  overflow-x: hidden; /* Empêche le défilement horizontal */
}


* { /* on calibre notre page => important au moins pour la navbar */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display : flex;
  background-color:#ffffff; /*  */
  margin: 0;
  min-height: 100vh; /* Assure que le fond prend au moins toute la hauteur de l'écran */
  min-width: 100vw;
}


main {
  margin-left: 10px; /* Décale le contenu principal pour éviter qu'il soit sous la navbar 110 */
  margin-right: 10px; /* Décale le contenu principal pour équilibrer entre droite et gauche */
  padding: 15px 0 0 0;
  min-height: 100vh; /* Assure que le fond prend au moins toute la hauteur de l'écran */
  min-width: 100vw;
}


h1 {
  color : #DC6A17;
}
  
h2 {
  color : #FF4300;
}
  
h3 {
  color : #FF9944;
}





.signature img {
  width: 100px;
  height: 100px;
  object-fit: contain; /* Pour s'assurer que l'image garde ses proportions sans être déformée */
  border: 1px solid #a92b2b; /* Ajouter une bordure douce autour de l'image */
  border-radius: 8px; /* Bordures arrondies */
} 
  