/*

PAGES ORANGES
PAGES ORANGES
PAGES ORANGES

*/

html, body {  /* avec ces lignes, le bandeau blanc latéral droite disparait */
  width: 100%;
  overflow-x: hidden; /* empêche le défilement horizontal */
}

* { /* on calibre notre page => important au moins pour la navbar */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display : flex;
  background-color:#ffffff;
  margin: 0;
  min-height: 100vh; /* assure que le fond prend au moins toute la hauteur de l'écran */
  min-width: 100vw;
  box-sizing: border-box;
}

.accueil-sous-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 190px;
  margin-right: 130px; /* 130 ?? */
  margin-bottom: 40px; /* 80px trop grand : pas besoin d'un tel espace ! */
  /* en principe, il faudrait 200 120 40 comme margin mais je cherche à compenser un décalage inexpliqué pour le moment */
  font-family: 'Inter', sans-serif;
}

.sous-cont {
  display : flex;
  margin-left : 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 95%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.sous-cont form {
  width: 100%;
}

main {
  margin-left: 10px; /* décale le contenu principal pour éviter qu'il soit sous la navbar 110 */
  margin-right: 10px; /* décale le contenu principal pour équilibrer entre droite et gauche */
  padding: 15px 0 0 0;
  min-height: 100vh; /* assure que le fond prend au moins toute la hauteur de l'écran */
  min-width: 100vw;
}

h1 {
  color : #DC6A17;
  font-size: 70px; /* définit la taille de la police à 50 pixels */
  text-align: center;
  margin-top: 50px;
  margin-bottom: 5px;
  width: 100%;
}

.h1-sans-h3 {  /* pour bénéficier d'un espace vers le bas important */
  color : #DC6A17;
  font-size: 70px; /* définit la taille de la police à 50 pixels */
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}
  
h2 {
  color : #FF4300;
  font-size: 36px; /* définit la taille de la police à 50 pixels */
  text-align: left;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 100%;
}
  
h3 {
  color : #FF9944;
  font-size: 24px; /* définit la taille de la police à 24 pixels */
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
  width: 100%;
}

h4 {
  color: #DC6A17;
  font-size: 28px; /* définit la taille de la police à 28 pixels */
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100%;
}



.signature img {
  width: 100px;
  height: 100px;
  object-fit: contain; /* pour s'assurer que l'image garde ses proportions sans être déformée */
  border: 1px solid #a92b2b; /* ajouter une bordure douce autour de l'image */
  border-radius: 8px; /* bordures arrondies */
} 




/*

VUES D'ENSEMBLE

*/


.documents-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.documents-table th {
  font-size: 22px;
  color: #FF4300;
  padding: 18px 0px 22px 18px; /* 18px 0px 22px 16px */
  text-align: left;
}

.documents-table td {
  font-size: 22px;
  color: #282828;
  padding: 10px 10px 10px 10px; /* 10px 10px 10px 10px */
  border-bottom: 1px solid #ddd;
}

.documents-table tr:hover {
  background-color: #f5f5f5;
}

thead tr:hover {
  background-color: transparent !important;
}

.clickable-row {
  cursor: pointer; /* le curseur de la souris change */
}

.clickable-row a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  padding: 0px 0px 0px 10px; /* la hauteur du rectangle doit rester assez petite : on veut juste un décalage du bord gauche */
}


/* Styliser le bouton "Créer un apprenant" */
.btn.btn-rose {
  display: inline-flex; /* permet d'aligner l'icône et le texte correctement */
  align-items: center; /* centre verticalement le contenu */
  background-color: #4449D5; /* Violet */
  color: #ffffff; /* Écriture blanche */
  padding: 8px 25px 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 26px;
  /* font-weight: bold; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  border: none; /* enlève le bord gris dû au nivagateur */
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn.btn-rose i {
  font-size: 36px; /* l'icone n'est pas assez grande */
  margin-right: 12px; /* espacement entre l'icône et le texte */
}

.btn.btn-rose:hover {
  background-color: #2e32a6; /* Violet foncé au survol */
}

/* Aligner le bouton à droite */
.position-purple {
  display: flex;
  justify-content: flex-end;
  width: 100%; /* assure que le div prend toute la largeur disponible */
  margin-bottom: 20px;
}



/*

FIN DES VUES D'ENSEMBLE

*/




/*

FORMULAIRES

*/


.form-cell{
  width: 100%;
  display: flex;
  flex-direction: column;
}


/* Style global du formulaire */
form {
  max-width: 90%; /* Ajuste la largeur max selon ton besoin */
  margin: auto; /* formulaire bien centré */
  padding: 20px 20px 80px 20px; /* 80px pour une marge du bas généreuse */
  background-color: #f9f9f9; /* Couleur de fond */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style des labels */
label {
  color: #282828; /* Gris foncé */
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  font-size: 22px;
}

input::placeholder, textarea::placeholder {
  color: #b83d3d;
}

/* Alignement des divs sur une seule ligne 
chaque ligne est un flex container */
.form-ligne01 {
  display: flex;
  gap: 15px; /* Espacement entre les champs */
  margin-bottom: 15px; /* Espacement entre les lignes */
}


/* Ajuster la largeur des champs individuellement 
.form-cell { */
  /* flex-grow: 1;  Permet aux champs de s'étendre si nécessaire 
}*/

/* Largeurs spécifiques */
.form-cell.sexe { flex-basis: 20%; }
.form-cell.nom { flex-basis: 40%; }
.form-cell.prenom { flex-basis: 40%; }

.form-cell.tel { flex-basis: 20%; }
.form-cell.email { flex-basis: 80%; }

.form-cell.adresse { flex-basis: 38%; }
.form-cell.codePostal { flex-basis: 14%; }
.form-cell.ville { flex-basis: 28%; }
.form-cell.pays { flex-basis: 20%; }

.form-cell.fonc-rep { flex-basis: 30%; }
.form-cell.tampon { flex-basis: 70%; }

.form-cell.statu-juri { flex-basis: 20%; }
.form-cell.raison-sociale { flex-basis: 30%; }
.form-cell.logo { flex-basis: 50%; }

.form-cell.num-siret { flex-basis: 24%; }
.form-cell.num-rcs { flex-basis: 25%; }
.form-cell.num-tva-intra { flex-basis: 50%; }

.form-cell.num-declara { flex-basis: 50%; }
.form-cell.prefet { flex-basis: 50%; }

.form-cell.tribunal { flex-basis: 50%; }

.form-cell.user-nom { flex-basis: 50%; }
.form-cell.user-prenom { flex-basis: 50%; }

.form-cell.user-role { flex-basis: 25%; }
.form-cell.user-email { flex-basis: 75%; }

.form-cell complete { flex-basis: 50%; }


#form-cell-plain-password{
  flex-grow: 1;
  flex-basis: 30%;
}

.form-ligne02 {
  display: flex;
  flex-direction: column;
  gap: 40px; /* Espacement entre les champs */
  margin-top: 60px; /* Espacement entre les lignes */
  margin-bottom: 60px; /* Espacement entre les lignes */
}

/* Style des champs de formulaire */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="datetime-local"],
select {
  width: 100%; /* Prend toute la largeur de son conteneur */
  padding: 10px;
  border: 1px solid #ccceff;
  border-radius: 5px; /* Bords arrondis */
  background-color: #ffffff; /* Fond blanc */
  font-size: 16px;
  height: 40px; /* Hauteur ajustable */
  line-height: 10px;
  box-sizing: border-box; /* Évite que le padding change la taille du champ */
}

input[type="file"],
select {
  width: 100%; /* Prend toute la largeur de son conteneur */
  padding-top: 7px;
  padding-left: 10px;
  border: 1px solid #ccceff;
  border-radius: 5px; /* Bords arrondis */
  background-color: #ffffff; /* Fond blanc */
  font-size: 16px;
  height: 40px; /* Hauteur ajustable */
  
  box-sizing: border-box; /* Évite que le padding change la taille du champ */
}




.user-comment{
  font-size: 16px;
  font-style: italic;
  color: #5b5b5b;
}

/*

FIN FORMULAIRES

*/

/*

BOUTONS "ENREGISTRER" DES FORMULAIRES


.sous-cont button {
  display: inline-flex; /* permet d'aligner l'icône et le texte correctement
  align-items: center; /* centre verticalement le contenu
  background-color: #4449D5; /* Violet
  color: #ffffff; /* Écriture blanche
  padding: 8px 25px 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 26px;
  /* font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.sous-cont button i {
  font-size: 36px; /* l'icone n'est pas assez grande
  margin-right: 12px; /* espacement entre l'icône et le texte
}


.sous-cont button:hover {
  background-color: #2e32a6; /* Violet foncé au survol
}


FIN DES BOUTONS "ENREGISTRER" DES FORMULAIRES

*/

/* aligner les boutons au centre */
.position-rose {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%; /* assure que le div prend toute la largeur disponible */
  margin-top: 60px;
  gap: 60px;
}

.check-email {
  font-size: 26px;
  color: #282828;
}

.check-clic {
  font-size: 26px;
  color: #bd1e73;
}