/*

PAGES VIOLETTES
PAGES VIOLETTES
PAGES VIOLETTES

*/


html, body {  /* avec ces lignes, le bandeau blanc latéral droite disparait */
  width: 100%;
  overflow-x: hidden; /* empêche le défilement horizontal */
}


* { /* on calibre notre page => important au moins pour la navbar */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display : flex;
  background-color:#fcf2f5;
  margin: 0;
  min-height: 100vh; /* assure que le fond prend au moins toute la hauteur de l'écran */
  min-width: 100vw;
}

.sous-cont {
  display : flex;
  margin-left : 230px;
  margin-right: 60px;
  margin-bottom: 80px;
  width: 85%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.sous-cont form {
  width: 100%;
}

main {
  margin-left: 10px; /* décale le contenu principal pour éviter qu'il soit sous la navbar */
  margin-right: 10px; /* décale le contenu principal pour équilibrer entre droite et gauche */
  padding: 15px 0 0 0;
  min-height: 100vh; /* assure que le fond prend au moins toute la hauteur de l'écran */
  min-width: 100vw;
}

h1 {
  color :#790945; /* change la couleur du texte en rose */
  font-size: 70px; /* définit la taille de la police à 50 pixels */
  text-align: center;
  margin-top: 50px;
  margin-bottom: 5px;
  width: 100%;
}

h2 {
    color : #4449D5;
    font-size: 36px; /* définit la taille de la police à 50 pixels */
    text-align: left;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
}

h3 {
  color :#a2118a; /* change la couleur du texte en rose */
  font-size: 24px; /* définit la taille de la police à 24 pixels */
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
  width: 100%;
}

h4 {
  color: #790945;
  font-size: 28px; /* définit la taille de la police à 28 pixels */
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100%;
}


p {
  font-size: 26px;
}



/* 

code css pour les grands bandeaux cliquables (les pages des grandes sections : créations, suivis, paramètres) 

*/


.lot-bandeau {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bandeau {
  display: block;                  /* rend le <a> cliquable sur toute la largeur */
  text-decoration: none;           /* supprime le soulignement */
  color: #282828;                /* garde la couleur du texte */
  padding: 5px 15px 15px 10px;     /* ajoute de l’espace intérieur entre le contenu (le texte) et la bordure du a */
  margin-top: 15px;                /* ajoute de l’espace au dessus des bandeaux */
  margin-bottom: 15px;             /* ajoute de l’espace en dessous des bandeaux */
  border: 0px solid #ccc;        /* mettre une bordure éventuellement qui sera pleine et en gris clair*/
  background-color: #ffffff;     /* on souhaite un fond blanc */
  border-radius: 10px;             /* pour les bords arrondis */
  width: 100%;
}

.bandeau:hover {
  background-color: #efefff; /* petit effet 'violet clair' au survol */
}


/*

fin du code css pour les grands bandeaux cliquables

*/







/*

PAGE D'ACCUEIL

*/


.accueil-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw; /* pour occuper toute la largeur */
}


.accueil-h1 {
  color :#790945; /* change la couleur du texte en rose */
  font-size: 50px; /* définit la taille de la police à 50 pixels */
  text-align: center;
  margin-top: 50px;
  margin-bottom: 5px;
}


.accueil-h2 {
  color :#282828; /* change la couleur du texte en rose */
  font-size: 50px; /* définit la taille de la police à 50 pixels */
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}


.accueil-h3 {
  color :#a2118a; /* change la couleur du texte en rose */
  font-size: 20px; /* définit la taille de la police à 20 pixels */
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}


.accueil-boite1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.accueil-lien {
  display: block; /* permet à <a> de se comporter comme un bloc : on n'a pas envie qu'un élément en ligne puisse contenir un bloc */
  text-decoration: none; /* supprime le soulignement du lien */
  color: inherit; /* hérite la couleur du texte du parent */
}


.accueil-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 150px;
  margin-right: 150px;
}


.accueil-img img {  /* si je ne rajoute pas img, il ne peut pas sélectionner l'image de "Suivis" */
  /* text-align : right; */
  /*margin-top : 15px;  on ne souhaite pas coller le logo en haut du document */
  /*margin-right : 30px;  on ne souhaite pas coller le logo au bord du document */
  width: 400px;
  height: 400px;
  object-fit: contain; /* pour s'assurer que l'image garde ses proportions sans être déformée */
}


.accueil-boite1 a, /* pour que les liens de la page d'accueil ne soient pas soulignés */
a.accueil-card {
    text-decoration: none;
}


/*

FIN PAGE D'ACCUEIL

*/






/*

VUES D'ENSEMBLE

*/


.apprenants-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.apprenants-table th {
  font-size: 22px;
  color: #4449D5;
  padding: 18px 0px 22px 18px; /* 18px 0px 22px 16px */
  text-align: left;
}

.apprenants-table td {
  font-size: 22px;
  color: #282828;
  padding: 10px 10px 10px 10px; /* 10px 10px 10px 10px */
  border-bottom: 1px solid #ddd;
}

.apprenants-table tr:hover {
  background-color: #f5f5f5;
}

thead tr:hover {
  background-color: transparent !important;
}

.clickable-row {
  cursor: pointer; /* le curseur de la souris change */
}

.fiche-module:hover {
  background-color: #efefff; /* le curseur de la souris change */
}

.clickable-row a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  padding: 0px 0px 0px 10px; /* la hauteur du rectangle doit rester assez petite : on veut juste un décalage du bord gauche */
}


/* Styliser les icônes d'édition et de suppression */
.icon-btn-gris i {
  font-size: 1.3em; /* agrandit légèrement les icônes */
  color: #5b5b5b; /* gris foncé */
}

.icon-btn-gris:hover i {
  color: red; /* rouge au survol */
}


/* Styliser le bouton "Créer un apprenant" */
.btn.btn-rose {
  display: inline-flex; /* permet d'aligner l'icône et le texte correctement */
  align-items: center; /* centre verticalement le contenu */
  background-color: #4449D5; /* Violet */
  color: #ffffff; /* Écriture blanche */
  padding: 8px 25px 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 26px;
  /* font-weight: bold; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  border: none; /* enlève le bord gris dû au nivagateur */
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn.btn-rose i {
  font-size: 36px; /* l'icone n'est pas assez grande */
  margin-right: 12px; /* espacement entre l'icône et le texte */
}

.btn.btn-rose:hover {
  background-color: #2e32a6; /* Violet foncé au survol */
}

/* Aligner le bouton à droite */
.position-purple {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%; /* assure que le div prend toute la largeur disponible */
  margin-bottom: 20px;
}


/*

FIN DES VUES D'ENSEMBLE

*/



/*

VUES DE DETAILS

*/

.details-fiches {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: stretch; /* center => stretch : force les div à avoir la même hauteur */
  margin: 0px;
  gap: 20px
}

.fiche-gauche, .fiche-droite {
  display: flex; /* flex */
  flex-direction: column;
  width: 50%;
  color: #282828;
  background-color: #ffffff; /* ffffff */
  border-radius: 20px;
  font-size: 26px;
  padding: 20px;
  line-height: 1.3; /* Augmente l'espacement entre les lignes */
}


.details-responsables {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* répartit uniformément avec des espaces entre */
  width: 100%;
  align-items: stretch; /* center => stretch : force les div à avoir la même hauteur */
  margin: 0px;
  gap: 20px;
  /* flex-wrap: wrap;  pour que le 3eme rectangle se place correctement en dessous aligné à gauche */
}

.fiche-responsable {
  display: flex; /* flex */
  flex-direction: column; /* on veut des colonnes pour empiler les champs : un seul champ ici donc pas important */
  width: 32%;
  color: #282828;
  background-color: #ffffff; /* ffffff */
  border-radius: 20px;
  font-size: 26px;
  padding: 20px;
  line-height: 1.4; /* Augmente l'espacement entre les lignes */
}


.details-modules {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between; /* center pose des soucis */
  align-items: stretch; /* center => stretch : force les div à avoir la même hauteur */
  margin: 0px;
  gap: 20px;
  flex-wrap: wrap; /* pour que le 3eme rectangle se place correctement en dessous aligné à gauche */
}

.fiche-module {
  display: flex; /* flex */
  flex-direction: column; /* on veut des colonnes pour empiler les champs : un seul champ ici donc pas important */
  width: 40%;  /* 50% pose problème */
  color: #282828;
  background-color: #ffffff; /* ffffff */
  border-radius: 20px;
  font-size: 26px;
  padding: 20px;
  line-height: 1.2;
}


.clickable-div {
  display: block;
  /* flex-direction: row; */
  text-decoration: none; /* Enlève le soulignement du lien */
  color: inherit; /* garde la couleur du texte */
  width: 100%;
}


.fiche-champ {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  margin: 0px;
  flex-grow: 1; /* assure un espacement uniforme */
}

.fiche-champ a {
  text-decoration: none;
}

.mini-rose {
  font-size: 22px;
  color: #E16FAB;
}

.position-rose {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%; /* assure que le div prend toute la largeur disponible */
  margin-top: 60px;
  gap: 60px;
}

.msg-vide {
  width: 100%;
  /*border-collapse: collapse;*/
  background-color: white;
  padding: 30px 0px 30px 22px;
  font-size: 30px;
  color: #282828;
  margin: 0;
  font-weight: bold;
  border-radius: 20px;
}



.fiche-violet {
  display: inline;
  color: #4449D5;
  font-weight: bold;
}

.fiche-violet-mini {
  display: inline;
  color: #4449D5;
  font-weight: bold;
  font-size: 24px;
}

.fiche-gris-mini {
  display: inline;
  /* color: #4449D5; */
  font-size: 24px;
}

.fiche-gris-maxi {
  display: inline;
  /* color: #4449D5; */
  font-weight: bold;
  font-size: 24px;
}


.session-h1 {
  color :#790945; /* change la couleur du texte en rose */
  font-size: 60px; /* définit la taille de la police à 50 pixels */
  text-align: center;
  margin-top: 50px;
  margin-bottom: 5px;
  width: 100%;
}

.session-h3 {
  color :#a2118a; /* change la couleur du texte en rose */
  font-size: 24px; /* définit la taille de la police à 24 pixels */
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
  width: 100%;
}




/* 
TABLEAU SHOW-APPRENANT
*/
.apprenant-details-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 20px;
  table-layout: fixed; /* force le respect des largeurs définies */
}

/* Définition des largeurs des colonnes */
.apprenant-details-table th:nth-child(1),
.apprenant-details-table td:nth-child(1) {
    width: 25%;
}

.apprenant-details-table th:nth-child(2),
.apprenant-details-table td:nth-child(2) {
    width: 18%;
}

.apprenant-details-table th:nth-child(3),
.apprenant-details-table td:nth-child(3) {
    width: 18%;
}

.apprenant-details-table th:nth-child(4),
.apprenant-details-table td:nth-child(4) {
    width: 14%;
}

.apprenant-details-table th:nth-child(5),
.apprenant-details-table td:nth-child(5) {
    width: 15%;
}

.apprenant-details-table th:nth-child(6),
.apprenant-details-table td:nth-child(6) {
    width: 10%;
}

.apprenant-details-table th {
  font-size: 26px;
  color: #4449D5;
  padding: 18px 0px 0px 0px;
  text-align: left;
  vertical-align: middle; /* aligner les contenus verticalement */
}

.apprenant-details-table td {
  font-size: 26px;
  color: #282828;
  padding: 0px 0px 10px 0px;
  /* border-bottom: 1px solid #ddd; */
  text-align: left; /* pour voir si l'alignement s'effectue correctement */
  vertical-align: middle; /* aligner les contenus verticalement */
}

.apprenant-details-table:hover {
  background-color: #efefff; /* je ne veux plus que la ligne change de couleur ! #f5f5f5 */
}


/* 
TABLEAU SHOW-FORMATEUR
*/
.formateur-details-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 20px;
  table-layout: fixed; /* force le respect des largeurs définies */
}

/* Définition des largeurs des colonnes */
.formateur-details-table th:nth-child(1),
.formateur-details-table td:nth-child(1) {
    width: 25%;
}

.formateur-details-table th:nth-child(2),
.formateur-details-table td:nth-child(2) {
    width: 18%;
}

.formateur-details-table th:nth-child(3),
.formateur-details-table td:nth-child(3) {
    width: 18%;
}

.formateur-details-table th:nth-child(4),
.formateur-details-table td:nth-child(4) {
    width: 14%;
}

.formateur-details-table th:nth-child(5),
.formateur-details-table td:nth-child(5) {
    width: 15%;
}

.formateur-details-table th:nth-child(6),
.formateur-details-table td:nth-child(6) {
    width: 10%;
}

.formateur-details-table th {
  font-size: 26px;
  color: #4449D5;
  padding: 18px 0px 0px 0px;
  text-align: left;
  vertical-align: middle; /* aligner les contenus verticalement */
}

.formateur-details-table td {
  font-size: 26px;
  color: #282828;
  padding: 0px 0px 10px 0px;
  /* border-bottom: 1px solid #ddd; */
  text-align: left; /* pour voir si l'alignement s'effectue correctement */
  vertical-align: middle; /* aligner les contenus verticalement */
}

.formateur-details-table:hover {
  background-color: #efefff; /* je ne veux plus que la ligne change de couleur ! #f5f5f5 */
}


/* 
TABLEAU SHOW-RESPONSABLE
*/
.responsable-details-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 20px;
  table-layout: fixed; /* force le respect des largeurs définies */
}

/* définition des largeurs des colonnes */
.responsable-details-table th:nth-child(1),
.responsable-details-table td:nth-child(1) {
    width: 40%;
}

.responsable-details-table th:nth-child(2),
.responsable-details-table td:nth-child(2) {
    width: 40%;
}

.responsable-details-table th:nth-child(3),
.responsable-details-table td:nth-child(3) {
    width: 20%;
}

.responsable-details-table th {
  font-size: 26px;
  color: #4449D5;
  padding: 18px 0px 0px 0px;
  text-align: left;
  vertical-align: middle; /* aligner les contenus verticalement */
}

.responsable-details-table td {
  font-size: 26px;
  color: #282828;
  padding: 0px 0px 10px 0px;
  /* border-bottom: 1px solid #ddd; */
  text-align: left; /* pour voir si l'alignement s'effectue correctement */
  vertical-align: middle; /* aligner les contenus verticalement */
}

.responsable-details-table:hover {
  background-color: #efefff; /* je ne veux plus que la ligne change de couleur ! #f5f5f5 */
}


/* 
TABLEAU SHOW-SOCIETE
*/
.societe-details-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 20px;
  table-layout: fixed; /* force le respect des largeurs définies */
}

/* définition des largeurs des colonnes */
.societe-details-table th:nth-child(1),
.societe-details-table td:nth-child(1) {
    width: 40%;
}

.societe-details-table th:nth-child(2),
.societe-details-table td:nth-child(2) {
    width: 40%;
}

.societe-details-table th:nth-child(3),
.societe-details-table td:nth-child(3) {
    width: 20%;
}

.societe-details-table th {
  font-size: 26px;
  color: #4449D5;
  padding: 18px 0px 0px 0px;
  text-align: left;
  vertical-align: middle; /* aligner les contenus verticalement */
}

.societe-details-table td {
  font-size: 26px;
  color: #282828;
  padding: 0px 0px 10px 0px;
  /* border-bottom: 1px solid #ddd; */
  text-align: left; /* pour voir si l'alignement s'effectue correctement */
  vertical-align: middle; /* aligner les contenus verticalement */
}

.societe-details-table:hover {
  background-color: #efefff; /* je ne veux plus que la ligne change de couleur ! #f5f5f5 */
}



/* 
TABLEAU SHOW-SESSION
*/
.session-details-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 20px;
  table-layout: fixed; /* force le respect des largeurs définies */
}


/* définition des largeurs des colonnes */
.session-details-table th:nth-child(1),
.session-details-table td:nth-child(1) {
    width: 22%;
}

.session-details-table th:nth-child(2),
.session-details-table td:nth-child(2) {
    width: 28%;
}

.session-details-table th:nth-child(3),
.session-details-table td:nth-child(3) {
    width: 15%;
}

.session-details-table th:nth-child(4),
.session-details-table td:nth-child(4) {
    width: 20%;
}

.session-details-table th:nth-child(5),
.session-details-table td:nth-child(5) {
    width: 15%;
}

.session-details-table th {
  font-size: 26px;
  color: #4449D5;
  padding: 18px 0px 0px 0px;
  text-align: left;
  vertical-align: middle; /* aligner les contenus verticalement */
}

.session-details-table td {
  font-size: 26px;
  color: #282828;
  padding: 0px 0px 10px 0px;
  /* border-bottom: 1px solid #ddd; */
  text-align: left; /* pour voir si l'alignement s'effectue correctement */
  vertical-align: middle; /* aligner les contenus verticalement */
}

.session-details-table:hover {
  background-color: #efefff;
 }


.fiche-orange {
  display: inline;
  color :#ff4300;
  text-decoration: none;
  font-weight: bold;
}

.fiche-orange:hover {
  color :#ff9944;
  font-style: italic;
}

.fiche-orange i {
  /*font-size: 36px;  pas besoin d'agrandir l'icone */
  margin-right: 12px; /* espacement entre l'icône et le nom du référent */
}

/*

FIN DES VUES DE DETAILS

*/




/*

Tableau de suivi administratif d'une' session

*/

.suivi-bande-couleur {
  background-color: #2c0526;
  color: #ffffff;
  width: 100%;
}

.suivi-bande-couleur td {
  background-color: #2c0526;
  color: #ffffff;
  /* width: 100%; */
  height: 80px;
  font-weight: bold;
}

.suivi-bande-couleur td a {
  color: #ffffff;
  text-decoration: none;
}

.boutondocu {
  border: 3px solid #b68a11;
  border-radius: 30px;
  padding: 5px 10px;
  background-color: #b68a11;
}


.recap-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}


.recap-table td {
  font-size: 22px;
  padding: 10px 10px 10px 10px; /* 10px 10px 10px 10px */
}

.recap-table tr:hover {
  background-color: #f5f5f5;
}


/* définition des largeurs des colonnes du tableau récapitulatif */
.recap-table th:nth-child(1),
.recap-table td:nth-child(1) {
    width: 20%;
}

.recap-table th:nth-child(2),
.recap-table td:nth-child(2) {
    width: 15%;
}

.recap-table th:nth-child(3),
.recap-table td:nth-child(3) {
    width: 25%;
}

.recap-table th:nth-child(4),
.recap-table td:nth-child(4) {
    width: 10%;
}

.recap-table th:nth-child(5),
.recap-table td:nth-child(5) {
    width: 15%;
}

.recap-table th:nth-child(6),
.recap-table td:nth-child(6) {
    width: 15%;
}

/*

Fin tableau de suivi administratif d'une' session

*/





/*

FORMULAIRES

*/


.form-cell{
  width: 100%;
  display: flex;
  flex-direction: column;
}


/* Style global du formulaire */
form {
  max-width: 60%; /* Ajuste la largeur max selon ton besoin */
  margin: auto; /* formulaire bien centré */
  padding: 20px 20px 80px 20px; /* 80px pour une marge du bas généreuse */
  background-color: #f9f9f9; /* Couleur de fond */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style des labels */
label {
  color: #444444; /* Gris foncé */
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  font-size: 22px;
}

input::placeholder, textarea::placeholder {
  color: #b83d3d;
}

/* Alignement des divs sur une seule ligne 
Chaque ligne est un flex container */
.form-ligne01 {
  display: flex;
  gap: 15px; /* Espacement entre les champs */
  margin-bottom: 15px; /* Espacement entre les lignes */
}


/* Ajuster la largeur des champs individuellement */
.form-cell {
  flex-grow: 1; /* Permet aux champs de s'étendre si nécessaire */
}


/* Largeurs spécifiques */
.form-cell.sexe { flex-basis: 20%; }
.form-cell.nom { flex-basis: 40%; }
.form-cell.prenom { flex-basis: 40%; }

.form-cell.tel { flex-basis: 20%; }
.form-cell.email { flex-basis: 80%; }

.form-cell.adresse { flex-basis: 38%; }
.form-cell.codePostal { flex-basis: 14%; }
.form-cell.ville { flex-basis: 28%; }
.form-cell.pays { flex-basis: 20%; }

.form-cell.appre-societe { flex-basis: 35%; }
.form-cell.appre-dateNaissance { flex-basis: 30%; }
.form-cell.appre-metier { flex-basis: 35%; }

.form-cell.forma-societe { flex-basis: 50%; }
.form-cell.forma-statut { flex-basis: 50%; }

.form-cell.fonc-resp { flex-basis: 100%; }

.form-cell.soc-statu-juri { flex-basis: 20%; }
.form-cell.soc-raison-sociale { flex-basis: 40%; }
.form-cell.soc-siret { flex-basis: 40%; }

.form-cell.resp-legal { flex-basis: 33%; }
.form-cell.resp-admin { flex-basis: 34%; }
.form-cell.resp-rh { flex-basis: 33%; }

/* deux classes définies dans notre sous-formulaire ApprenantInscritType */
.form-cell.apprenant-inscrit { flex-basis: 80%; }
.form-cell.apprenant-prix { flex-basis: 20%; }

.form-cell.ses-titre { flex-basis: 100%; }

.form-cell.ses-accroche { flex-basis: 100%; }

.form-cell.ses-formation { flex-basis: 100%; }

.form-cell.nbplaces { flex-basis: 25%; }
.form-cell.nbmodules { flex-basis: 25%; }
.form-cell.ses-date-debut { flex-basis: 25%; }
.form-cell.ses-date-fin { flex-basis: 25%; }

.form-cell.ref-peda { flex-basis: 50%; }
.form-cell.ref-admin { flex-basis: 50%; }

.form-cell.ques-prefor { flex-basis: 34%; }
.form-cell.ques-chaud { flex-basis: 33%; }
.form-cell.ques-froid { flex-basis: 33%; }








/* Style des champs de formulaire */
input[type="text"],
input[type="textarea"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"],
select {
  width: 100%; /* Prend toute la largeur de son conteneur */
  padding: 10px;
  border: 1px solid #ccceff;
  border-radius: 5px; /* Bords arrondis */
  background-color: #ffffff; /* Fond blanc */
  font-size: 16px;
  height: 40px; /* Hauteur ajustable */
  box-sizing: border-box; /* Évite que le padding change la taille du champ */
}


/*

FIN FORMULAIRES

*/





/*

BOUTONS "ENREGISTRER" DES FORMULAIRES

INUTILES => dans les Types, je passe la classe souhaitée directement (les boutons violets)


.sous-cont button {
  display: inline-flex; /* permet d'aligner l'icône et le texte correctement
  align-items: center; /* centre verticalement le contenu
  background-color: #4449D5; /* Violet
  color: #ffffff; /* Écriture blanche
  padding: 8px 25px 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 26px;
  /* font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.sous-cont button i {
  font-size: 36px; /* l'icone n'est pas assez grande
  margin-right: 12px; /* espacement entre l'icône et le texte
}


.sous-cont button:hover {
  background-color: #2e32a6; /* Violet foncé au survol
}


/*

FIN DES BOUTONS "ENREGISTRER" DES FORMULAIRES

*/

